[2017-02-20 12:33] vijayst commented on #565
Based on another issue, I was able to resolve the problem.

[code]

https://github.com/SheetJS/js-xlsx/issues/285#issuecomment-240680073

[2017-02-20 12:33] #565 closed

[2017-02-21 06:30] SheetJSDev commented on #548
@lgodard there are 3 types of "extensions" based on my experimentation: `loext` `ooext` and `calcext`.  They can be reproduced by saving files in open office and libre office either in the ODS format or the Flat ODS format.  It is sufficient to reject any parameter override with namespace ending in `ext`.

The fix, which should be going in sometime by the end of the week, is to change the else cla

[2017-02-21 06:41] SheetJSDev commented on #553
@keyiis check the sample file tests/write.js for how to generate a file from an array of arrays of content in nodejs.

You should only have to change the data object:

[code]

I am not entirely sure if BIFF2 (excel 2.0) supports chinese characters, but the other formats should be correct.

These are my results: https://gist.github.com/SheetJSDev/03b0717087c9e2c088b593019367fcd9

[2017-02-21 08:20] SheetJSDev commented on #396
@barbalex @lucdetellis @mrwhite1 you can just wrap `XLSX.write`.

`XLSX.writeFile(wb, filename, opts)` basically

- sets  `opts.bookType` to the appropriate output type based on the file name (so if the filename ends in `.xlsx` then `opts.bookType = "xlsx"`

- sets `opts.type` to buffer and calls `XLSX.write(wb, opts)`

- calls `fs.writeFileSync` on the output of the write.

So it should be straig

[2017-02-21 08:29] SheetJSDev commented on #207
This file had the same problem as #508 -- unexpected namespaces in the XML.  This issue was fixed in 0.8.3 and it appears to work in http://oss.sheetjs.com/js-xlsx/ as well as in the node module.

[2017-02-21 08:29] #207 closed

[2017-02-21 08:36] SheetJSDev commented on #44
Version 0.8.4 overhauled the XLSB formula logic, please raise a new issue if you find specific problems.

[2017-02-21 08:36] #44 closed

[2017-02-21 08:38] SheetJSDev commented on #144
@apolishch at this point every format parser should generate the same general structure (with a `.SheetNames` array of names, `.Sheets` object of worksheets, each worksheet having keys corresponding to A1 cell addresses, etc).  It is a bug if the same content saved in different formats gives you a different structure.  If you find specific inconsistencies please raise a new issue.

[2017-02-21 08:38] #144 closed

[2017-02-21 08:43] SheetJSDev commented on #259
That error is telling you that XLSX is looking at the wrong place.  If you want to see which directory the library is attempting to read from, try writing a test file using fs.writeFileSync just before the XLSX readFile function and see where that test file appears.  I'm guessing it won't be in the directory with your desired file.

[2017-02-21 08:43] #259 closed

[2017-02-21 09:05] SheetJSDev commented on #337
The read functions can take the following input types, controlled by the `type` field of the options object when you call `XLSX.read(data, options)`:

| `type`     | expected input                                                           |
|------------|--------------------------------------------------------------------------|
| `"base64"` | string: base64 encoding of the file

[2017-02-21 09:11] SheetJSDev commented on #335
If you know that in advance, you can copy one of the utility functions like `sheet_to_json` and flip the order of the loops.  The underlying files are always stored in row-major order so the best bet is to read the file normally and change the utility functions to be column-major.  For example, in https://github.com/SheetJS/js-xlsx/blob/master/bits/90_utils.js#L68 just change the column loops to r

[2017-02-21 09:11] #335 closed

[2017-02-21 09:12] SheetJSDev commented on #304
This was fixed, please check against latest version and raise a new issue if you find any issues.

[2017-02-21 09:12] #304 closed

[2017-02-21 09:36] SheetJSDev commented on #370
@pietersv that was pushed in 0.8.1 (node 0.12 end of maintenance was 12/31/2016 so we internally moved up to 6 and updated the module).  The 0.11 tests fail on travis and the 0.9 tests sometimes need to be restarted.  Currently [Travis](https://travis-ci.org/SheetJS/js-xlsx) is wired to test against node versions `0.8, 0.9, 0.10, 0.12, 4, 5, 6, 7`

[2017-02-21 09:36] #370 closed

[2017-02-21 09:37] SheetJSDev commented on #465
@stla if you remember the issue please raise a new one.  Closing this for now.

[2017-02-21 09:37] #465 closed

[2017-02-21 09:44] lgodard commented on #370
@SheetJSDev any update about  'bugs in LibreOffice' you pointed ?
the given URL points to nowhere

btw, keep up that good work :)

[2017-02-21 09:45] lgodard commented on #548
guy, you rock !

[2017-02-21 16:43] SheetJSDev commented on #370
@lgodard here we go: https://bugs.documentfoundation.org/show_bug.cgi?id=83511

The original issue was reported in https://github.com/SheetJS/js-xls/issues/49#issuecomment-54542526

The LO developer response is truly horrifying:

IMHO fudging numbers is unacceptable for a program that people use for financials and other sensitive calculations.  After seeing this issue in particular, we started to

[2017-02-21 18:55] reviewher commented on #454
The question makes sense.  The worksheets have `!ref` fields which gives you the full range but doesn't tell you which columns have data, which rows have data, and how "long" each row or column is.  The utility functions like [sheet_to_json](https://github.com/SheetJS/js-xlsx/blob/master/bits/90_utils.js#L68) have to scan the worksheet and calculate these statistics.

It would be more efficient to

[2017-02-21 18:59] reviewher commented on #441
The library does not currently support CSV reading at the moment.  Most CSV readers follow the RFC 4180, but Excel follows a different set of rules.  We are working on a new Excel-compatible CSV parser.

[2017-02-21 18:59] #441 closed

[2017-02-21 19:14] reviewher commented on #352
@ksumrall @edohkodjo decent first cut 👍 but there are many features that need to be adjusted when you make a transform like this.

Small bug: what happens if you try to delete a row outside of the current range? No cell is removed but the range is erroneously changed.

Here are a few questions to consider:

1) how should formulae change as a result?  As a dumb example, let's say the formula for ce

[2017-02-21 19:19] reviewher commented on #533
@nahidakbar @bbatliner the nodejs team decision to add that warning was unfortunate but they did roll it back.

[2017-02-21 19:19] #533 closed

[2017-02-21 19:34] reviewher commented on #535
The `binary` type refers to a binary string like the type you get from `readAsBinaryString`.  `readAsDataURL` returns a [data URL](https://en.wikipedia.org/wiki/Data_URI_scheme) which you would need to parse.  To use `readAsDataURL` I think you can do something like this in the onload callback:

[code]

[2017-02-21 20:39] leodutra commented on #531
This should be better described in the README. Almost felt in the same rabbit hole.

[2017-02-21 21:15] reviewher commented on #531
@leodutra It's mentioned in https://github.com/SheetJS/js-xlsx#cell-object but should be spelled out more clearly.  The `v` field should mirror what is stored in an XLSX/XLS/XLSB file and the `w` field should give you the text you would see if you open the file in Excel.

One of the main reasons for storing the raw value separately from the formatted text is date handling: Excel natively stores da

[2017-02-21 21:30] reviewher commented on #432
@tomkel you're right, it should be included in https://github.com/SheetJS/js-xlsx/#writing-options.  The possible values mirror the read functions and are listed in another issue: https://github.com/SheetJS/js-xlsx/issues/337#issuecomment-281284479

| `type`     | expected input                                                           |
|------------|----------------------------------------------

[2017-02-21 21:42] #70 closed

[2017-02-21 22:34] SheetJSDev commented on #350
So it turns out IE does something unexpected with split on regular expressions when the first match is the beginning of a string.  To play along, try

[code]

When you split on a string, which is the second case, both IE and other browsers will correctly generate 2 values: `["", "bcdef"]`.  For whatever reason, IE is skipping that first value entirely.

The guard 2 lines down should address the ca

[2017-02-21 23:26] SheetJSDev commented on #365
@rodw has the right idea: the only requirements for a workbook are the `SheetNames` string array and `Sheets` object.

@waylonflinn nice work! Definitely add a note in the wiki.  Also, consider adding helpers to insert and remove cells/rows/columns -- https://github.com/SheetJS/js-xlsx/issues/352 is a good starting point.

[2017-02-21 23:27] SheetJSDev commented on #365
@arthurspa https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js starts from scratch and generates files.

[2017-02-21 23:27] #365 closed

[2017-02-22 04:28] leodutra commented on #531
@reviewher thank you for the explanation, good to know about the date.

I were talking specifically about that utils function sheets_to_json or something like that.

I don't know if it is intended for public usage but I found it in your demo page and found it the easier and cleaner way to produce a JSON from my sheets... but I found no clear explanation about this useful method or its "raw" option

[2017-02-22 07:04] #350 closed

[2017-02-22 07:04] #432 closed

[2017-02-22 07:04] #548 closed

[2017-02-22 07:05] SheetJSDev commented on #268
This is fixed in 0.8.5.  We are able to run the ajax demo and test against files of all of the supported file formats in IE6!

[2017-02-22 07:05] #268 closed

[2017-02-22 07:06] SheetJSDev commented on #140
Not sure why GH didn't automatically close the issue, oh well

[2017-02-22 07:06] #140 closed

[2017-02-22 10:48] saber13812002 opened #566 "in amcharts use your library sheetjs and working fine in chrome but in IE11 second download stop on resuming"
AMcharts using sheetjs for export to xslx and working fine in chrome

in IE11 when click download for the first time this works fine

but in second try (this AMchart or every others) [resuming...] prompt in downloads shows and pause and never stop

when clear download lists then restart ie ,problem still there in download lists  and [resuming...] appears and export2 excel doesnt work. but prompt f

[2017-02-22 13:22] gtd57 commented on #563
Hi @reviewher, any alternative for this? any help is appreciated.

[2017-02-22 17:04] thiagohagy opened #568 "Creating LARGE files that are not that big"
When I write some files ( more or less 200K lines) , they are created with +- 100MB, but if I open those files on LibreOffice and then only edit  any cell and save again, the file is saved with just 7Mb. Exist any config to decrease the files size that I am not using?

[2017-02-22 17:45] reviewher commented on #568
@thiagohagy for performance and compatibility reasons, the default options sacrifice file size.  But it is straightforward to decrease the file size:

1) pass the option `compression:true` to the write function.  XLSX is a ZIP-based format and the default is no compression.  You can enable compression to generate a smaller file but it may take much longer to generate the file.

2) if many of your

[2017-02-22 17:48] reviewher commented on #566
This sounds like an issue with the code that actually sends the file to the client.  Have you asked the AMcharts people?

[2017-02-22 17:51] reviewher commented on #563
@gtd57 what does `excelData.SheetNames` show?

If you can share a file then we can take a look.  If you don't want to upload to github you can email a file to dev at sheetjs dot com and someone can take a look

[2017-02-22 19:25] SheetJSDev commented on #562
They are missing from the file in the first place.  I repeated that exact sheet and Excel 2016 XLSX generated the following XML:

[code]

You can see Excel omits empty cells in the first place, which is why you won't see those cells when read by xlsx.  If you want to re-introduce those cells, you could loop the rows and columns of the sheet (see the `sheet_to_csv` function -- it has to loop and wr

[2017-02-22 19:25] #562 closed

[2017-02-23 04:57] reviewher commented on #439
@chikh do you have a sample file? For this error to occur, the `[Content_Types].xml` file must be pointing to `xl/sharedStrings.xml` with a lowercase `s`

[2017-02-23 05:24] abhinavnigam2207 commented on #217
keep the responseType as 'arraybuffer'
$http({
                url: 'www.example-api-url.com/download',
                method: "GET",
                headers: {'Content-type': 'application/json'},
                data: {a:1,b:2},
                responseType: 'arraybuffer'
            });

[2017-02-23 06:07] SheetJSDev commented on #439
This is in fact a bug.  Even though writers should be case-sensitive, readers should be case-insensitive according to ECMA-376 Part 2 Section 10.1.2 "Mapping Content Types".

The lay of the land is as follows:

| reader      | Handling files where [Content_Types].xml case differs from ZIP |
|-------------|----------------------------------------------------------------|
| Excel 2016  | Case insens

[2017-02-23 06:18] SheetJSDev commented on #425
If you are using `readAsBinaryString` to get the data, you need to set the type to `binary`.  The relevant segment from the demo is https://github.com/SheetJS/js-xlsx/blob/gh-pages/index.html#L265-L282 -- when you assume `rABS`is true and not using web workers, the code is basically:

[code]

[2017-02-23 06:18] #425 closed

[2017-02-23 06:20] SheetJSDev commented on #419
@vineetl @chenvan can you share a file that shows this problem?  I suspect those are really HTML files that happen to have the XLS extension, since that particular error and codepath mean the file started with a `<` (which the library guesses is a SpreadsheetML file)

[2017-02-23 06:30] SheetJSDev commented on #404
@ronilitman if you want to skip the first two rows (so your header is in the third row and the data starts in the fourth row), rewrite the sheet's range:

[code]

Then all of the utility functions will automatically skip those rows.

[2017-02-23 09:01] e12009 opened #569 "Cannot read property '3' of undefined"
I am using node xlsx module to parse an xlsx file,  with the following code snippet:

[code]
and I got the following errors:

node_modules/xlsx/xlsx.js:1572
var __readInt32LE = function(b, idx) { return (b[idx+3]<<24)|(b[idx+2]<<16)|(b[idx+1]<<8)|b[idx]; };
                                                ^

TypeError: Cannot read property '3' of undefined
    at __readInt32LE (/Users/cswei/crawler

[2017-02-23 09:03] reviewher commented on #569
A little bit of context would help :) were you trying to read or write a file?  IF you were reading a file, can you share the file you were using?

[2017-02-23 09:11] e12009 commented on #569
I seem to have problem uploading the file, try again.
[billExport.xlsx](https://github.com/SheetJS/js-xlsx/files/795999/billExport.xlsx)

[2017-02-23 09:57] reviewher commented on #569
@e12009 thanks for sharing a file!   The source fix is to add a check in the `make_sector_list` function:

[code]

Whatever tool wrote that file made three mistakes:

1) it's really a BIFF8 XLS file but the tool claimed it was an XLSX.  Immediately Excel 2016 failed on the file, but renaming to XLS made it work.

2) The file is 80001 bytes.  Quick summary: BIFF8 XLS uses a container format called

[2017-02-23 10:24] e12009 commented on #569
@reviewher Thanks for the great comments.   it seems fixes the problem.  some other comments:

1.  The original file IS XLS file,  but to upload here,  it seems github only takes XLSX file,  so I just renamed it from XLS to  XLSX file;

2. Since we are using npm to manage all the dependencies, I am not supposed to make the change locally,  because even if I made the change locally,  when we deploy

[2017-02-23 14:59] jvinayagam opened #570 "base64 string writing to an excel having an issue"
basically  we are planning to write an image(convert the canvas charts image to base64) to excel.

i dont know something wrong in the below code. please advise

function export_base64Image_to_excel() {

    var data = "data:image/jpeg;base64,R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s7P+goOXMv8+fhw/v739/f+8PD98fH/8mJl+fn/9ZWb8/PzWlwv///6wWGbImAPgTEMImIN9gUFCEm/gDALULDN8PAD6atYdCTX9gUNKlj8wZAKUsAO

[2017-02-23 17:18] SheetJSDev commented on #569
@e12009 thanks for the report and @reviewher thanks for looking into it!

We hope to stand up a new version today or tomorrow, but in the meanwhile you can make a local copy of xlsx.js, add the dependencies from here to your package.json dependencies, and modify your xlsx dependency to point to a local file.  See https://docs.npmjs.com/files/package.json#local-paths for an example,

[2017-02-23 22:15] jvinayagam commented on #570
dear friends need your help on this. please advise

[2017-02-24 08:03] FredrikL opened #571 "Unable to install xlsx"
Since 1 day back I'm unable to install xlsx, the error i get is

[code]

It seems that the cfb module doesn't have the correct semver (or something) on npm causing npm install to fail.

[2017-02-24 08:06] SheetJSDev commented on #571
Which version of node/npm are you using?

[2017-02-24 08:08] FredrikL commented on #571
Node v6.9.4
Npm 3.10.10

[2017-02-24 08:16] SheetJSDev commented on #571
@FredrikL ok I can confirm with that particular combination trying to install with a `>=` version spec is causing issues, not entirely sure why.  I'm going to push a 0.11.0 version of cfb and then a 0.8.6 xlsx with the package.json with a version spec like "~0.11".  Stay tuned

[2017-02-24 08:18] mooyoul commented on #571
Yeah We having this issue too, deploys are failing now 😢

[2017-02-24 08:20] SheetJSDev commented on #571
@FredrikL @mooyoul I just pushed the same cfb code to version 0.11.0, can you test again and see if the install works?

[2017-02-24 08:22] FredrikL commented on #571
yes, works now, thanks!

[2017-02-24 08:22] mooyoul commented on #571
Sure, re-deploying to staging/production server now... stay tuned :)

[2017-02-24 08:30] mooyoul commented on #571
Okay, Deploys were successfully ended without having any issues.
Issue seems resolved. Thanks for quick response and fix 👍  🍻

[2017-02-24 08:38] mooyoul commented on #571
@SheetJSDev FYI, this is full npm verbose log.
In my case, npm couldn't find `cfb/bin/cfb` file, so chown command was failed.

[code]

[2017-02-24 08:50] mooyoul commented on #571
@SheetJSDev Note that npm uses [node-semver](https://github.com/npm/node-semver) package,
and that **`node-semver` treats `0.10.3-a` version as `prerelease` version!**

so, if there are `0.10.3` version and `0.10.3-a` version, `0.10.3` version will be treated as latest version since `0.10.3-a` version was treated as `prerelease` version.

Please see below screenshot:
<img width="345" alt="2017-02-

[2017-02-24 09:00] SheetJSDev commented on #571
@mooyoul thanks for investigating further, my sincerest apologies for pushing a pre-release semver :( I'm still confused by why the entire install would bomb out.  Shouldn't the spec ">=0.10.0" pick the 0.10.3 version (which would have been the latest version before yesterday)?

[2017-02-24 09:52] gtd57 commented on #563
As per SheetJS/js-xlsx API, `excelData.SheetNames` must contain sheet name as key for each sheet and it data as value, However in my case it is only showing one key and value of first sheet data only.

I can send you the data, but its is huge file above 50MB. However, that sheet does not contain any special data, You can create data on your side, I just popped some, one word strings in the first c

[2017-02-24 10:36] #439 closed

[2017-02-24 10:36] #569 closed

[2017-02-24 10:36] #571 closed

[2017-02-24 11:07] SheetJSDev commented on #563
Hello @gtd57 ! Just for you I ran a test: https://gist.github.com/SheetJSDev/205d9d9c14c5203e602da70ed57e0a43

It generates an XLSX workbook with 8 sheets.  Each sheet happens to be the same but it doesn't affect the nature of the issue.  The worksheet is 2000 columns and 1000 rows.  You can run it to generate and to verify.

On a side note: the files are massive! without compression the generated

[2017-02-24 13:50] enq-asantikari commented on #285
I am using [xlsx-style](https://www.npmjs.com/package/xlsx-style) plugin  with Angular 2 created using @angular/cli ver 1.0.0-beta.32.3 and I am not able to fix the issue as mentioned by @alisonatwork. I imported  by creating a .d.ts file but it seems  it still misses cpexcel. I am not able to find any webpack configuration in the project :( .

[2017-02-24 17:30] feload commented on #285
After trying all your suggestions, I ended up doing something like this:

`import 'script-loader!../../../node_modules/xlsx/dist/xlsx.full.min.js';`

I hope this is useful for you.

[2017-02-24 22:40] wurstel commented on #525
@MarcoAPA  can you please provide me some more code how to handle this in ionic 2?
I want to choose a file from the system and then get it into json.
Thanks!

[2017-02-25 20:32] mooyoul commented on #571
@SheetJSDev hmm i was digging about this issue a little more,

I found interesting part from deploy log
([here is full npm-debug.log gist](https://gist.github.com/mooyoul/32a18d419123f9cc823d90bf9c205572))

Interesting part was:
actually npm resolved *both* cfb@0.10.2 and cfb@0.10.3 from xlsx dependency,  downloaded cfb@0.10.3, but tried to extract cfb@0.10.2 tarball. and it was failed.

I don't k

[2017-02-25 21:36] SheetJSDev commented on #571
@mooyoul Thanks for looking into this further! This is an NPM bug and I can reproduce it, will make an npm issue shortly.  The short term problem was resolved and I will refrain from pushing anything remotely resembling a pre-release or post-release in the future.

[2017-02-26 03:26] chenvan commented on #419
@SheetJSDev you guess is maybe right. My document is exported from a website which is about chinese stock markets.  Do you still want me to send you a copy? I don't know how to send to you? An email?

[2017-02-26 03:30] SheetJSDev commented on #419
@chenvan You can send an email to dev@sheetjs.com

[2017-02-26 03:53] SheetJSDev commented on #419
@chenvan received the file.  As I guessed, it was an HTML file.   This export is particularly interesting because of the number format hints in the style:

[code]

We'll keep this issue open until we decide how to handle HTML files.

[2017-02-26 09:15] mtharrison commented on #563
I'm getting the same or similar issue. I have a workbook with 7 sheets. `SheetNames` contains all 7 sheetnames but one of the sheets is missing altogether from `Sheets`. The missing sheet has 382,000 rows. Do you think I'm hitting some kind of limit in xlsx? Do you have any suggested workaround or if it sounds like I bug can I help to debug?

[2017-02-26 09:24] SheetJSDev commented on #563
@mtharrison The limit is dictated by memory, and honestly you would be able to tell in either case when you hit the memory limit (chrome shows "oh snap" and node gives you a long message about GC).  Assuming you don't see that, there's something in the file causing trouble.

The simplest thing you could do is pass the option `WTF:1` to the reader:

- If you are using node, and if you installed xls

[2017-02-26 09:52] mtharrison commented on #563
Thanks @SheetJSDev for the super-quick response. I tried with the debug option and the error I get is:

[code]

Looks like I'm probably hitting V8's max string size. I logged the buffer size out before `toString()` is called on it and it's 356mb.

[2017-02-26 10:00] SheetJSDev commented on #563
@mtharrison you caught me in a late night session!

If you are running in a recent version of node, can you try calling node with `--max-old-space-size=4096`? To do this against the global install, run

[code]

If you are running something like `node main.js` normally, just add the flag:

[code]

[2017-02-26 10:10] SheetJSDev commented on #563
@mtharrison scratch that.

The nodejs string limit is 16 bytes shy of 256MB: https://github.com/nodejs/node/issues/3175 .  I thought the previous write test case would cover it, but the underlying xml files are 60M.

I'm going to resolve this in the next version by trying to catch that particular error and give more informative output.

Can you do one last thing: try saving that file as XLSB in Ex

[2017-02-26 13:54] mtharrison commented on #563
@SheetJSDev Using an XLSB does indeed sidestep that issue! Thanks a lot for the help.

[2017-02-26 16:45] dtjohnson commented on #121
I just released v1.0.0 of [xlsx-populate](https://github.com/dtjohnson/xlsx-populate). It now supports reading cell values, styles, etc. It also supports find/replace.

@reviewher, @abelmagana88920, here is an example of find and replace:
[code]

The find method also supports RegExp patterns and function replacements just like String.prototype.replace.

[2017-02-26 22:14] abelmagana88920 commented on #121
@dtjohnson, Thanks for updating your package xlsx-populate. I will test it. I'm sure it helps a lot. Thanks again

[2017-02-27 07:05] ashishsantikari commented on #285
I tried as per your suggestion but still, that doesn't work.
I have provided GitHub repo for the demo. If you can fiddle around and provide me some suggestion, that would be great.

[GitHub repo](https://github.com/ashishsantikari/excel-export-angular2)

[2017-02-28 06:08] WildDusk opened #573 "Excel File keep loaded in background?"
Is there a way to load the file once and use it without reloading every time I need to retrieve something?

[2017-02-28 06:27] reviewher commented on #573
You can always store the workbook in a global variable when you read the data.  For example, in node using readFile:

[code]

In the browser, you can use the same technique.  For example, in the web demo http://oss.sheetjs.com/js-xlsx you can save the workbook to a global variable: https://github.com/SheetJS/js-xlsx/blob/gh-pages/index.html#L195

[code]

In fact, you can even serialize the object

[2017-02-28 09:21] reviewher commented on #484
@ljani the namespace should have been fixed, please update and test against the latest version.  If the error persists raise a new issue

[2017-02-28 09:21] #484 closed

[2017-02-28 09:28] reviewher commented on #124
This was resolved, please test and confirm

[2017-02-28 09:28] #124 closed

[2017-02-28 09:37] reviewher commented on #142
All of the source map references are stripped.

@tjhart I was able to repeat the steps in https://github.com/ember-cli/ember-cli/issues/2912#issue-53562633 with no issue, so I assume the fixes in ember-cli/ember-cli#2912 resolved the issue.  Please raise a new issue if you still have problems.

[2017-02-28 09:37] #142 closed

[2017-02-28 09:40] reviewher commented on #186
@maheshp212 please raise a new issue if you still have problems and include the browser info

[2017-02-28 09:40] #186 closed

[2017-02-28 09:56] reviewher commented on #245
@pjlasl You don't need web workers, and the browser demo has a fall back in case they are not available (or if you uncheck the web workers box).  The main reason for having them is reading without blocking the browser.  http://oss.sheetjs.com/ uses them to show a spinner while processing a file.

If you don't want to use web workers, follow the [readAsBinaryString / readAsArrayBuffer example in th

[2017-02-28 09:56] #245 closed

[2017-02-28 09:58] reviewher commented on #237
Need more details.  Did you try http://oss.sheetjs.com/js-xlsx web demo ? If you are testing on your own website, does it work with some files or does it fail on every file?  Please raise a new issue

[2017-02-28 09:58] #237 closed

[2017-02-28 10:00] reviewher commented on #377
@oepdtt Formula parsing was overhauled in `0.8.4`.  This appears to be a case of a shared formula and it works in the current version.

[2017-02-28 10:00] #377 closed

[2017-02-28 10:07] reviewher commented on #356
@gnachao good question :) There's no `instanceof` mantra you can use, and your check is exactly what I would do.

@Chima1707 is correct in saying that it is essentially an object.  There's a reason for that: you can use `JSON.stringify / JSON.parse` on the workbook.  Web workers, featured in the [web demo](http://oss.sheetjs.com/js-xlsx/), used to only allow simple data like strings to be passed b

[2017-02-28 10:07] #356 closed

[2017-02-28 10:12] reviewher commented on #329
@jamessimo XLSX.write can generate base64 by setting `type:'base64'` in the options argument.

There are two ways to send the data if you don't want to generate a blob:

1) If you can modify the server process, you can then upload the base64 directly to a server and have it converted on the server side.

2) If you can't change the server, you can recover the binary string with `atob` or use a Base

[2017-02-28 10:12] #329 closed

[2017-02-28 13:46] nagistaja opened #574 "Sheet to array helper function"
Here is my version of helper function to convert a workbook object to an array of arrays (by a row). In case, I'm not the only one, who needs it.

[code]

To use separately, safe_decode_range function needs to be added from XLSX.

[2017-02-28 15:26] ljani commented on #484
Seems to be fine now, thanks.

[2017-03-01 06:32] SHocker-Yu opened #575 "Unsupported file 255"
this is my file:
[龙岩新罗35千伏大池电站10千伏大和大和#3配变新建工程汇总出库单.XLSX](https://github.com/SheetJS/js-xlsx/files/809666/35.10.3.XLSX)
i dont know what different in this file.

code:
var workBook = XLSX.readFile('龙岩新罗35千伏大池电站10千伏大和大和#3配变新建工程汇总出库单.XLSX');

[2017-03-01 06:50] SheetJSDev commented on #575
So this file is actually a tab-delimited text with a UTF16-LE encoding.  It is something a general CSV parser should handle.  Gotta love how Excel just works in this case.  We will add a CSV/TSV parser to js-xlsx at some point, hopefully soon.

[2017-03-01 07:49] SHocker-Yu commented on #575
@SheetJSDev Thank U! Yeah,it is a CSV file in fact.

[2017-03-01 08:58] SheetJSDev commented on #575
Closing as duplicate of https://github.com/SheetJS/js-xlsx/issues/489

[2017-03-01 08:58] #575 closed

[2017-03-01 08:58] #246 closed

[2017-03-01 09:18] reviewher commented on #445
@Ramzec ECMA-376 doesn't technically prohibit a cell like the example you gave, and since Excel appears to omit the cell I think the best course of action is to treat it as a stub cell

@flowhamster this is not related to #207 -- the other issue pertained to XML namespacing.

[2017-03-01 09:24] reviewher commented on #479
@fmalk the library does not handle streams directly, so accumulating a buffer is the best approach.  `j` uses the `concat-stream` library to reproduce the effect: https://github.com/SheetJS/j/blob/master/bin/j.njs#L73

This is probably better suited for the wiki.  If you get a chance, can you copy this over to the wiki?

[2017-03-01 16:18] fmalk commented on #479
@reviewher will do

[2017-03-01 17:05] fmalk commented on #479
I summed up at https://github.com/SheetJS/js-xlsx/wiki/Reading-XLSX-from-Stream

[2017-03-01 17:05] #479 closed

[2017-03-01 17:10] reviewher commented on #373
There isn't enough information here to figure out what's going on.  If you can share a code sample and a test file, please reopen and we can take a look.

[2017-03-01 17:10] #373 closed

[2017-03-01 17:12] reviewher commented on #375
There isn't enough information here to figure out what's going on. If you can share a code sample and a test file, please reopen and we can take a look.

[2017-03-01 17:12] #375 closed

[2017-03-02 07:39] axolo opened #576 "Export2Excel.js get TH cell"
http://sheetjs.com/demos/table.html
http://sheetjs.com/demos/Export2Excel.js
[code]

[2017-03-02 08:20] reviewher commented on #576
@axolo It's technically not invalid to have both `td` and `th` in the same row:

[code]

<table><tr><td>td</td><th>th</th></tr></table>

That whole thing needs to be changed.  It probably should loop through all of the elements (e.g. `getElementsByTagName('*')` works in IE6+) and check for td or th tags

[2017-03-02 08:26] mca22120 commented on #379
Did you succeed in ?
I have the same problem, I don't read the good value.
Have you got a solution ?

[2017-03-02 08:27] reviewher commented on #379
@mca22120 do you have a sample file you can share?

[2017-03-02 22:22] leonardodelfino commented on #381
+1

[2017-03-03 10:35] mca22120 commented on #462
Hello, could you explain can I add new values in an existing file by using this code ? Is the problem in this line : var range = {s: {c:10000000, r:10000000}, e: {c:0, r:0 }}; ?

var XLSX = require('XLSX')

function datenum(v, date1904) {
	if(date1904) v+=1462;
	var epoch = Date.parse(v);
	return (epoch - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000);
}

function sheet_from_array_of_ar

[2017-03-03 14:31] mca22120 opened #577 "How can I create an xlsm file ?"
Hello, I'm a beginner and I don't understand how can I create an xlsm file with this code. I try to change this line : XLSX.writeFile(wb, 'test.xlsx')     by this one    :   XLSX.writeFile(wb, 'test.xlsm')   but it doesn't work.

Could you help me ?
Thanks !

`var XLSX = require('XLSX')

/*function datenum(v, date1904) {
	if(date1904) v+=1462;
	var epoch = Date.parse(v);
	return (epoch - new Date(

[2017-03-03 14:36] Aymkdn commented on #532
Hi,

I'm not sure your problem is the same, but I guess it's related.

When we try to read a file using `readAsArrayBuffer` (https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsArrayBuffer) and pass it to `XLSX.read` with option `type:"buffer"`, then we receive a JavaScript error: `Unsupported file undefined` (from `readSync`).

If we pass it to `XLSX.read` with option `type:"binary"

[2017-03-03 14:40] mca22120 opened #578 "Modify an existing xlsm file"
Hello, I'm able to create a file but I don't succeed in modifying a file.
Could you help me please ?
You can find my code here.
My aim is to add datas in an existing file but with this code I just put datas in a new file...

var XLSX = require('XLSX')

/*function datenum(v, date1904) {
	if(date1904) v+=1462;
	var epoch = Date.parse(v);
	return (epoch - new Date(Date.UTC(1899, 11, 30))) / (24 * 60

[2017-03-03 15:06] gregpinero opened #579 "Getting array of rows - coming from xls-js"
I was using this function with xls-js to get an array of rows.  What would the equivalent be for reading XLSX files?

[code]

It seems to no longer have sheet['!range']?

[2017-03-03 15:09] gregpinero commented on #270
@Mithgol, I seem to not have sheet['!range'].  Is there a new way to get the ranges?

[2017-03-03 15:58] reviewher commented on #270
@gregpinero @Mithgol the `!ref` key is exposed by every format.  `!range` was used in XLS but it was ultimately confusing to store the same information in 2 different ways.  Decoding using `decode_range` gives you the range object.  So @Mithgol 's code sample would look like

[code]

Is it worth adding an "iterator" to the utils? Basically it would take a worksheet and a callback function and repe

[2017-03-03 16:10] ismailkomay opened #580 "Problem of style is finally resolved"
[full.zip](https://github.com/SheetJS/js-xlsx/files/817251/full.zip)

I prepare a one js file (zipped) including a style

Unzip the file.then include it + include filesaver.js

Then use it as an example above (i only mention  the script part) :
index.html :

[code]

[2017-03-03 16:19] gregpinero commented on #270
Thanks.  That does work.

I would like something just like sheet2arr above in the utils.  That what I thought XLSX.utils.sheet_to_row_object_array would do but it seemed to give me strange results missing most of the data.

[2017-03-03 16:27] gregpinero commented on #579
You can close or delete this.  It was answered here: https://github.com/SheetJS/js-xlsx/issues/270#issuecomment-283992162

[2017-03-03 16:27] #579 closed

[2017-03-03 16:41] reviewher commented on #270
@gregpinero the JSON conversion has a little bit of "intelligence" and is poorly documented :/

For example consider this worksheet:

[code]

Let's say we are in node (the relevant parts work the same way in browser).  Read the workbook:

[code]

So by default, the conversion will read the first row and use them as keys in the row object:

[code]

If a field is missing, the data won't show up.  If

[2017-03-03 17:52] gregpinero commented on #270
Thanks, that makes a lot more sense now.  My case was weird because I have the data I want starting at row 5.  But I guess I could have manually given it a header and ignore data before row 4.  I'll give that a try new time.

[2017-03-04 03:39] loongdefect commented on #547
me to same error

[2017-03-04 03:42] loongdefect commented on #516
I have same error. I using angular-cli

[2017-03-04 05:50] BryanYang commented on #122
@nvcken so what ended up working for you? could you share your code ?

[2017-03-04 06:08] SheetJSDev commented on #122
@ak4wrapp @BryanYang @lukelafountaine @nvcken @notatestuser Safari downloads are problematic, see [the relevant filesaver.js issue](https://github.com/eligrey/FileSaver.js/issues/12) for a longer discussion.  The best approach if you need to support generation in safari is to punt to the server.

http://sheetjs.com/demos/table.html demonstrates generating and downloading files using filesaver.js a

[2017-03-04 06:08] #122 closed

[2017-03-04 07:05] lakhorerakesh commented on #443
Same issue here

[2017-03-04 07:06] reviewher commented on #443
@miguelschwindt @lakhorerakesh can you share a file that has extra whitespace?  Confirm that the original file doesn't have extra whitespace first.

[2017-03-04 07:10] lakhorerakesh commented on #443
@reviewher  suppose first column "Name" and value is  "   Test    "

How to trim value on a cell when reading?

 Thanks!

[2017-03-04 07:19] reviewher commented on #443
I don't think the library should do this automagically, since the whitespace may be intentional.  The easiest thing to do is to loop through the cells.  Something like this (warning: untested)

[code]

If this works, please add to the project wiki

[2017-03-04 07:22] loongdefect commented on #324
How are you resolve this issue? I have same issue.

[2017-03-04 07:28] reviewher commented on #324
@loongdefect the codepage library is an optional dependency, mainly because it is big and is only needed for international support or reading older Excel files.

For support with direct script tag insertion, the variable `cptable` is a global.  This library has logic to support codepage processing if the library is available and effectively skip the processing otherwise.

You are probably seeing t

[2017-03-04 07:52] loongdefect commented on #324
How me resolve this use strict?
Remove `"use strict"` in ./dist/cpexcel.js in line 805?

[2017-03-04 07:59] reviewher commented on #324
@loongdefect If you are requiring the `xlsx` module directly, check your code tree for `"use strict"`.  If you are using a module that requires `xlsx`, check to see if that module has `"use strict"`.

Can you share the full error stack trace? That will show whether it's coming from your code or some other module

[2017-03-04 08:48] #518 closed

[2017-03-04 09:08] loongdefect commented on #324
This error:
`ERROR in ./~/xlsx/dist/cpexcel.js `
`Module not found: Error: Can't resolve './cptable' in` `'E:\Work\Home\Bababibo\weberpforbuild\weberpforbuild_client\node_modules\xlsx\dist'`
` @ ./~/xlsx/dist/cpexcel.js 808:16-41 `
` @ ./~/xlsx/xlsx.js `
` @ ./src/app/components/Users/contract/contract.component.ts`
` @ ./src/app/app.module.ts`
` @ ./src/main.ts`
` @ multi webpack-dev-server/clien

[2017-03-04 09:10] SheetJSDev commented on #407
@joefreire @vanchisel [js-harb](https://github.com/SheetJS/js-harb) currently has basic support for DBF.  Ultimately that will be merged into js-xlsx, not sure about the timeframe.

If you are in node, the [j cli command](https://www.npmjs.com/package/j) combines js-xlsx and js-harb in one interface.  You can read in a dbf file and convert to CSV or XLSX or other formats.

[2017-03-04 09:21] loongdefect commented on #324
I change code in file cpexcel and resolve:
`function(root, factory) {`
`  "use strict";`
`  if(typeof cptable === "undefined") {`
`    if(typeof require !== "undefined"){`
`      //var cpt = require('./cpt' + 'able');`
`      var cpt = require('./cpexcel.js');`
`      if (typeof module !== 'undefined' && module.exports) module.exports = factory(cpt);`
`      else root.cptable = factory(cpt);`
`

[2017-03-04 11:15] Aymkdn commented on #580
Hi,

Your file works. But could you explain which changes you have done on js-xlsx to make it work please?

[2017-03-04 11:30] Aymkdn commented on #128
@SheetJSDev any chance to finally handle style in this project? Thanks.

[2017-03-04 22:12] stla commented on #465
Yes, sorry for not having replying. Surely I did something wrong, there's no such issue.Thank you for taking care of this awesome library.Cheers.

    Le Mardi 21 février 2017 10h37, SheetJSDev <notifications@github.com> a écrit :

 @stla if you remember the issue please raise a new one. Closing this for now.—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-03-04 22:23] reviewher commented on #465
@stla If a file can be read with Excel but can't be read with the node module or the web demo, or if the results are different, then we have a bug.  There are specifications like [ECMA-376](http://www.ecma-international.org/publications/standards/Ecma-376.htm), and there are specifications for how Excel may deviate from the original specifications like [MS-XLSX](https://msdn.microsoft.com/en-us/li

[2017-03-05 01:18] SheetJSDev commented on #76
We pushed version 0.8.7 with modified require paths.  Please check whether this resolves the issue.

[2017-03-05 01:21] SheetJSDev commented on #143
We un-broke all of the require statements in 0.8.7 and included samples with browserify/requirejs/webpack.  Please check against the latest version

[2017-03-05 01:21] #143 closed

[2017-03-05 01:21] SheetJSDev commented on #285
We un-broke all of the require statements in 0.8.7 and included samples with browserify/requirejs/webpack.  Please check against the latest version

[2017-03-05 01:22] SheetJSDev commented on #339
We un-broke all of the require statements in 0.8.7 and included samples with browserify/requirejs/webpack.  Please check against the latest version.

@pietersv if you have a very small angularjs project, we can add to the main repo to make sure we don't break compatibility in future versions

[2017-03-05 01:24] SheetJSDev commented on #529
@aseem2625 we bit the bullet and un-broke all of the require statements in 0.8.7 and included samples with browserify/requirejs/webpack. Please check against the latest version

[2017-03-05 01:28] SheetJSDev commented on #170
The repo currently includes a [requirejs demo](https://github.com/SheetJS/js-xlsx/tree/master/demos/requirejs) that replicates http://oss.sheetjs.com/js-xlsx using the `r.js` optimizer.

[2017-03-05 01:28] #170 closed

[2017-03-05 01:29] SheetJSDev commented on #436
@scottnc27603 please check against the latest version.  We included a [require.js demo](https://github.com/SheetJS/js-xlsx/tree/master/demos/requirejs)

[2017-03-05 01:29] #436 closed

[2017-03-05 14:22] x77a1 commented on #526
I was facing the same issue. Passing bookSST as false in the write function fixed the issue for me.

The write function would look something like this:
`var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: false, type: 'binary' });`

[2017-03-05 16:47] reviewher commented on #526
@x77a1 that seems strange, can you share some code where it works with bookSST false but fails with bookSST true?

[2017-03-05 16:57] SheetJSDev commented on #532
@Aymkdn the web demo actually does this conversion.  Should this logic be lifted into the read function?

[2017-03-05 18:03] Aymkdn commented on #532
@SheetJSDev yes, it could be into `read`, but I guess it's also OK to have it as an example into this issue, for later reference for someone else. So it's up to you :-)

[2017-03-05 18:07] SheetJSDev commented on #532
@Aymkdn If you have a moment can you add the [body of the comment](https://github.com/SheetJS/js-xlsx/issues/532#issuecomment-283968967) to a page in the project wiki?  That way if things change we can modify the recommendation.

[2017-03-05 18:59] Aymkdn commented on #532
@SheetJSDev here you go: https://github.com/SheetJS/js-xlsx/wiki/Reading-XLSX-from-FileReader.readAsArrayBuffer()

[2017-03-05 19:22] jayabhar commented on #76
I am still getting the same error.

Cannot resolve file or directory ./cptable in ./node_modules/xlsx/dist

[2017-03-05 19:33] SheetJSDev commented on #76
@jayabhar can you share a sample?  I just checked and the [demos](https://github.com/SheetJS/js-xlsx/tree/master/demos) seem to work

[2017-03-05 19:35] #532 closed

[2017-03-06 07:20] SheetJSDev commented on #90
This has been fixed, the ajax demo currently draws the first column in IE6+, see https://github.com/SheetJS/js-xlsx/issues/350 for an explanation of the issue.  Here is a screenshot of IE6

<img width="386" alt="ie6-ajax" src="https://cloud.githubusercontent.com/assets/6070939/23600230/71a5e6ea-0213-11e7-9a23-b73e48a8bcd7.png">

[2017-03-06 07:20] #90 closed

[2017-03-06 11:28] jayabhar commented on #76
I had another issue with my local configuration. With the latest version 0.8.7 along with web-pack demo config changes, it works perfect. Thanks for the support.

[2017-03-06 12:14] jayabhar commented on #76
Hello,
 Thanks for responding to my query very quickly. It was impressive.

I am right now trying to export a json data to an excel file using sheet.js
client side logic. But I am not able to create a workbook object to insert
the json data to it. I could not find a proper info on the documentation
too. could you help me with it ?

My code looks like this:

    const wopts = { bookType: 'xlsx', bo

[2017-03-06 15:44] SheetJSDev commented on #76
@jayabhar Workbook object needs a `SheetNames` array of strings and a `Sheets` object whose keys are sheet names and whose values are worksheets.  see https://github.com/SheetJS/js-xlsx#workbook--worksheet--cell-object-description for a description.

As a simple example, here's a workbook with 2 worksheets:

[code]

[2017-03-06 15:44] #76 closed

[2017-03-06 17:15] SheetJSDev commented on #376
Here are the "rules":

- bad characters: `: \ / ? * [ ]`
- length: `0 < length < 32`
- Characters apparently can be encoded with the `_xHHHH_` form, so it's possible to make a sheet with a newline character!  However, the length only applies to the decoded characters, so a name like

[code]

can be encoded as `1234567890_x000d_1234567890_x000d_123456789`

So definitely js-xlsx should do something.

[2017-03-07 01:47] #502 closed

[2017-03-07 01:48] SheetJSDev commented on #497
@st-sloth we're working on it

[2017-03-07 01:48] #497 closed

[2017-03-07 01:49] jimjin opened #582 "sheet_to_json empty cell be skip, suport to option is better?"
excel:
Col1, Col2, Col3, Col4
Val1, Val2,          ,Val4

after call sheet_to_json():
`[{Col1: 'Val1', Col2: 'Val2', Col4:'Val4'}] # the key 'Col3' was lost.`

But, i need result is: [{Col1: 'Val1', Col2: 'Val2', Col3: null, Col4:'Val4'}]

If has option skipUndfendVale and defaultValue will better?
like:
[code]

[2017-03-07 02:18] jimjin commented on #582
And changed the soure code:
[code]

[2017-03-07 06:22] JustinJmnz commented on #60
@SheetJSDev
Hey, I was just going through this because I had the same problem. This solution didn't work for me. After adding the CDN, I still get the same error: `TypeError: _fs is undefined   xlsx.core.min.js:15:3896`

This is what my JavaScript looks like,

`if(typeof XLSX === 'undefined' && typeof require !== 'undefined') XLSX = require('xlsx');
	var workbook = XLSX.readFile('menu.xlsx');
	var

[2017-03-07 06:24] SheetJSDev commented on #60
@JustinJmnz `readFile` only works in node, not in the browser.  You need to pull in data and use `XLSX.read`.  See https://github.com/SheetJS/js-xlsx#parsing-workbooks in the README for some examples and demo links.  In particular, http://oss.sheetjs.com/js-xlsx/ajax.html uses XHR and http://oss.sheetjs.com/js-xlsx/ uses the HTML5 File API

[2017-03-08 03:43] gongph opened #585 "Doesn't work in webpack: Can't resolve '../xlsx.js'"
look this:
[code]

[2017-03-08 03:46] gongph commented on #554
i hit the same error

[2017-03-08 04:08] SheetJSDev commented on #585
right now, you can suppress those in the webpack config.  The webpack demo (in the demos/webpack subdirectory of the git repo) has the following

[code]

Soon we will rework the codepage library to omit the require statement and fold the ODS code into the main script.  Keep the issue open until then.

[2017-03-08 04:15] gongph commented on #585
Dear, thank you very much. The problem has been solved! @SheetJSDev

[2017-03-08 19:53] jbrecht commented on #285
@SheetJSDev - thanks! using 0.8.7 and the config example here:
https://github.com/SheetJS/js-xlsx/blob/master/demos/webpack/webpack.config.js
I was able to fix this.

[2017-03-08 21:29] reidblomquist opened #586 "xls => json => manipulation => xlsx"
So, I've been digging around this repo a bit and it seems like the go-to method for filtering etc is to convert things to json using XLSX.utils.sheet_to_json(wb.Sheets.SheetName), however I can't find any documentation on then turning that manipulated json back into a workbook. Please advise! (thanks in advance)

[2017-03-08 22:35] SheetJSDev commented on #586
@reidblomquist at a high level, sheet_to_json takes an options argument.  The header field of the options argument controls the output format: default is an array of JSON objects whose keys are determined by the first row, `"A"` will use the column labels rather than the first row, and  `1` will generate an array of arrays.  By default it will emit the formatted strings, but also setting raw:true

[2017-03-09 01:19] gongph opened #587 "Setting a table or cell style does not work"
Hi, The table style has been revised in accordance with [xlsx-style](https://github.com/protobi/js-xlsx/issues/16#issuecomment-165356191) , But it doesn't work . i dont know how to do.

This is my full code:
[code]

[2017-03-09 01:31] gongph commented on #587
@SheetJSDev help me please

[2017-03-09 01:35] SheetJSDev commented on #587
@gongph how are you using the code and what error are you getting?

[2017-03-09 01:40] gongph commented on #587
[code]
And last, Open the test.xlsx style not render ! @SheetJSDev

[2017-03-09 01:43] SheetJSDev commented on #587
This is an issue with https://github.com/protobi/js-xlsx, when we add the full style support we will revisit this issue.

[2017-03-09 01:46] gongph commented on #587
`xlsx-style` is not yet integrated into the `js-xlsx` project and is not available yet, is it?

[2017-03-09 03:00] gongph commented on #555
#587  Hi, You can look this about sheetDev‘s repay!

[2017-03-09 06:12] #362 closed

[2017-03-09 06:12] #419 closed

[2017-03-09 06:12] #458 closed

[2017-03-09 12:53] MarcoAPA commented on #525
hi @wurstel, sorry for the delay answering. Are you using this library to choose a file from the system? Is that file you want to get from the system and parse a .csv or a .xls or another format supported in the js-xlsx library? js-xlsx library has a method to transform a .xls to json for example, don't know if its what you want to achieve.

[2017-03-09 13:34] pascaldls opened #588 "Hidden columns and rows"
Hi is there any way i could exclude hidden columns and rows from a workbook.
If options not available is there any way i could know if columns or row is hidden in the workbook.
Thanks for taking the time.

[2017-03-09 14:32] wurstel commented on #525
Yes, I want to import a .xls file and transform it to json.
But there's the problem, I don't get how to do this in ionic 2 ;-)

[2017-03-09 18:29] MarcoAPA commented on #525
Ok, try this code.
Import xlsx library first to you page.ts or provider:
`import * as XLSX from 'xlsx';`
You have to do the steps i put on my first comment to import a library first.
Then create a method to recieve the xls and transfor it to json in your page class or provider class:
`public getXLS(){
  return new Promise((resolve, reject) => {
    var url = 'put here the url where your xls is';

[2017-03-09 21:11] klaszlo commented on #285
@SheetJSDev: I just finished importing js-xlsx project into my es6 project (via webpack).
So basically I converted the js-xlsx sourcecode to es6, and corrected some jshint warnings.
(still many console.log everywhere:)
Are you interested in such 'dirty' code?

Another remark: You are using in the sourcecode almost everywhere `==` instead of `===`.
After correcting them to `===` and `!==` one bug s

[2017-03-09 21:27] SheetJSDev commented on #285
@klaszlo if you have a repo, feel free to link and I'll take a look.  There are plenty of landmines in places like the `SSF` formatting code which will be addressed in due course.

[2017-03-10 04:13] SheetJSDev commented on #510
In general it tries not to blow up if certain things look weird.  Passing the option `WTF:1` to read or readFile will suppress that behavior.  In the node command that's the `--dev` option.

In this file, there were a few XML inconsistencies.  For certain tags like `numFmt`, the spec asserts that the content must be empty.  Excel and Numbers usually write these cells with an empty body but this fi

[2017-03-10 04:56] SheetJSDev commented on #585
https://github.com/SheetJS/js-xlsx/issues/285 is also tracking the issue

[2017-03-10 04:56] #585 closed

[2017-03-10 07:25] gangadharjannu commented on #156
Has anyone able to find the fix or workaround for this issue ?

[2017-03-10 07:40] klaszlo commented on #285
@SheetJSDev: I will clean up the code, and make a demo project with it. Give me a week or so.

[2017-03-10 07:44] SheetJSDev commented on #338
@hculap It sounds like a shared formula issue.  Can you check against the latest version and see if it persists?

[2017-03-10 07:45] SheetJSDev commented on #204
I believe you are encountering shared formulae -- can you check against the latest version?

[2017-03-10 07:55] SheetJSDev commented on #285
@klaszlo no rush :) we're also trying to resolve the packaging issues by fixing patterns in the dependencies.

[2017-03-10 08:58] #231 closed

[2017-03-10 08:58] #466 closed

[2017-03-10 08:58] #510 closed

[2017-03-10 11:26] dr-dimitru commented on #156
@guillaumervls check [this SO thread](http://stackoverflow.com/questions/32485449/xlxs-js-how-does-the-l-cell-hyperlink-object-option-work#comment55771059_32485449)

On our end we moved to CSV where is it possible

[2017-03-10 16:46] SheetJSDev commented on #232
We decided to go in the other direction, throwing an error in case SheetNames is missing.

[2017-03-10 16:46] #232 closed

[2017-03-10 16:46] tosehee75 commented on #526
Hello junaidinam.

Can you share your angular 2 code by chance?

I am trying to do the same, and a lot of these functions that I see in the code snippet doesn't exist or I can't find them..

[2017-03-10 16:51] junaidinam commented on #526
Sorry guys for not responding. i will definitely share my code. In fact if you could give me some time i will create a small angular 2 library which will only take a variable and generate an excel file based on that. Please give me this weekend to work on it.

[2017-03-10 16:52] #526 closed

[2017-03-10 16:53] tosehee75 commented on #526
I'd appreciate that, and that'll help me tremendously.

I've spent few hours on searching, so if you can share the code snippet to begin with, I could satisfy my curiosity...

[2017-03-10 17:08] junaidinam commented on #526
saveExcel(param: any, filename: string) {
        var wb = new Workbook();

        var write = new Array;
        param.forEach(function (row,index) {

            var each = new Array;
            var keys = Object.keys(row); // all the keys
            if (index == 0) {
                // column headers
                for (var i = 0; i < keys.length; i++) {
                    each.push(keys[i

[2017-03-10 18:22] tosehee75 commented on #526
Wow.

Thanks a bunch. I will give it a try.

[2017-03-10 19:05] tosehee75 commented on #285
How do I get around this with angular-cli (angular 2)????

[2017-03-10 20:51] reidblomquist commented on #586
@SheetJSDev thank you very much for the prompt response! I wanted to leave my json a bit more structured for my filtering purposes (so, an array of objects instead of an array of array) - but (just in case anyone else wants the sauce there) I managed to walk the resulting data as an array of arrays like so:

      function json2ws(data, opts) {
        var ws = {};
        var range = {s: {c:10000

[2017-03-10 23:44] #424 closed

[2017-03-10 23:44] #554 closed

[2017-03-10 23:46] SheetJSDev commented on #554
@keyiis @gongph  @jbutz @nengkuai @Scimonster @aarree @limjoe @emoragaf @imdzeeshan @jkurei @bdsoha @xiaofuchuan we are rolling out version 0.9.1 in which we reworked the codepage build process.  That errant require has been removed.

[2017-03-10 23:47] SheetJSDev commented on #424
https://github.com/SheetJS/js-xlsx#json we included a section describing the sheet_to_* functions with some examples.

[2017-03-10 23:51] dskrvk commented on #424
Awesome, thanks!

[2017-03-11 00:06] SheetJSDev commented on #285
We just pushed 0.9.1 and repaired other weird require patterns.  At this point, to work with webpack you should only need to suppress the `node` behavior.  Please confirm that this is the case

[2017-03-11 00:07] SheetJSDev commented on #547
@Mani2693 @loongdefect we are not familiar with systemjs, but if you have a very small demo we can take a look.

[2017-03-11 00:37] appersonj commented on #417
This appears to have been fixed - or was mistaken in the first place ...

[2017-03-11 00:37] #417 closed

[2017-03-11 03:00] loongdefect commented on #547
Hi you. I use angular-cli and it use webpack load module. Your lib use
filesystem not working on it.

On Sat, Mar 11, 2017, 7:07 AM SheetJSDev <notifications@github.com> wrote:

@Mani2693 <https://github.com/Mani2693> @loongdefect
<https://github.com/loongdefect> we are not familiar with systemjs, but if
you have a very small demo we can take a look.

—
You are receiving this because you were ment

[2017-03-11 04:51] reviewher opened #2556 "thousand separator"
from https://github.com/SheetJS/js-xls/issues/102 reported by @tburd

[code]

[2017-03-11 04:56] reviewher opened #2557 "Custom table formats?"
from https://github.com/SheetJS/js-xls/issues/105 reported by @gavinrobertszeco 👍

[code]

[2017-03-11 05:47] #73 closed

[2017-03-11 07:00] shadowkrusha commented on #526
Thank you for the example code @junaidinam, this pointed me in the right direction.

I've created a repo with a working angular-cli example if people want to see how I solved the compile issues.

https://bitbucket.org/shadowkrusha/test-xlsx

[2017-03-11 07:36] reviewher commented on #137
Related: https://github.com/SheetJS/js-xls/issues/90 @parthivpn

[2017-03-11 08:05] SheetJSDev opened #589 "Windows build"
Simplify the build and test process to enable a Windows development workflow

see https://github.com/SheetJS/js-harb/issues/7 h/t @simon-p-r

[2017-03-11 09:06] simon-p-r commented on #589
Happy to help with any testing!

[2017-03-11 10:01] wurstel commented on #525
Made my day ;-)

Unfortunately I'm facing now two new problems:   Calling functions and the data type of the resolve

[code]
The promise resolves this data-structure:
`[{"name":"Nikolaj","g":"m"},{"name":"Eric","g":"m"}] `

Thank you one more time!

[2017-03-12 05:30] lizjulien commented on #128
@SheetJSDev any news ? really need this case here too

[2017-03-12 19:56] reviewher commented on #157
Closing as dup of https://github.com/SheetJS/js-xlsx/issues/243

[2017-03-12 19:59] reviewher commented on #187
If this is still an issue, please raise an issue with https://github.com/agershun/alasql

[2017-03-12 19:59] #187 closed

[2017-03-12 20:02] reviewher commented on #275
The minified builds [`dist/xlsx.core.min.js`](https://github.com/SheetJS/js-xlsx/blob/master/dist/xlsx.core.min.js) and [`dist/xlsx.full.min.js`](https://github.com/SheetJS/js-xlsx/blob/master/dist/xlsx.full.min.js) bundle JSZip, so there should be no need to load multiple scripts.  Please test and comment if it does not work

[2017-03-12 20:02] #275 closed

[2017-03-12 20:12] SheetJSDev commented on #460
@clovissix I would guess it's a range issue.  I just tested by modifying the [write sample](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js) with a 29-column row:

[code]
Here are the generated files (since github doesn't support uploading certain formats, remove the `.zip` extension for those files):

- [sheetjs.xlsx](https://github.com/SheetJS/js-xlsx/files/836867/sheetjs.xlsx)
- [

[2017-03-12 20:19] reviewher commented on #313
This issue should be resolved in newer versions.  We changed the `js-codepage` dependency version and rebuilt the cpexcel source.

[2017-03-12 20:19] #313 closed

[2017-03-12 20:25] reviewher commented on #236
As you probably saw, this was a shared formula issue.  Checking against the site now, the right formula is displayed for the given cell.

[2017-03-12 20:25] #236 closed

[2017-03-12 21:26] SheetJSDev commented on #273
@Jawad-LiftOff @think01 do you have a file that demonstrates the issue? I know we had an issue with ODS repeat cells in the past (which we have since fixed), but if it's XLS or XLSX it should generate every cell

[2017-03-12 22:59] #224 closed

[2017-03-12 23:55] SheetJSDev commented on #442
We will be removing the old typescript definitions files.  Type metadata is included as flow comments.

[2017-03-12 23:55] #442 closed

[2017-03-12 23:58] #360 closed

[2017-03-13 00:02] SheetJSDev commented on #450
If you have a sample file we can take a look and figure out the best approach.

[2017-03-13 00:24] SheetJSDev commented on #547
@loongdefect you should not use `readFile` or `writeFile` in browser -- use `read` and `write`

[2017-03-13 01:08] loongdefect commented on #324
Hi @reviewher,
This issue i had resolve. But other issue with filesystem. My project use
angular-cli and angular developer had confirm can't use filesystem on
frondent.

On Sat, Mar 4, 2017, 2:59 PM reviewher <notifications@github.com> wrote:

[2017-03-13 01:09] SheetJSDev commented on #324
`var workbook = XLSX.readFile('test.xlsx');` does not work on front end, you need to get the data in somehow and use `XLSX.read`

[2017-03-13 01:45] reviewher commented on #481
This library does not automatically recalculate formulae.  You need something like https://github.com/fabiooshiro/xlsx-calc.

[2017-03-13 01:45] #481 closed

[2017-03-13 02:15] SheetJSDev commented on #438
@rusty1s those are coming from [the codepage library](https://github.com/sheetjs/js-codepage), which is needed for XLS files and some other corner cases.  If you don't expect to have to deal with XLS files (say, if you know the source is always producing XLSX or XLSB files), then you can safely suppress it by using webpack resolve:

[code]

This will be added to the README

[2017-03-13 02:23] reviewher commented on #564
This library does not automatically recalculate formulae. You need something like https://github.com/fabiooshiro/xlsx-calc.

Duplicate of https://github.com/SheetJS/js-xlsx/issues/481

[2017-03-13 02:23] #564 closed

[2017-03-13 02:28] reviewher commented on #341
You are trying to run an XLSX file in node.  Do you mean to run a script? I'm guessing you probably want to run something like

[code]

The file itself works in the web demo as well as in the command line:

[code]

[2017-03-13 02:28] #341 closed

[2017-03-13 02:35] reviewher commented on #409
The `sheetRows` option limits the number of rows that the parser will consider when generating cells.  If you just want the first row, set the option `sheetRows:1` in the options object when you call read or readFile.  For example with the [AutoFilter.xlsb test file](https://github.com/SheetJS/test_files/blob/master/AutoFilter.xlsb?raw=true):

[code]

[2017-03-13 02:40] reviewher commented on #494
This file actually has 2 columns named `call_priority`.

<img width="232" alt="screen shot 2017-03-12 at 22 39 42" src="https://cloud.githubusercontent.com/assets/24845478/23839487/d28fe666-0774-11e7-8351-b79f6d433779.png">

We recently changed the JSON output to disambiguate the names, so it should work in the latest version. The first `call_priority` column retains the name while the second one

[2017-03-13 02:40] #494 closed

[2017-03-13 02:45] reviewher commented on #247
Copied content to wiki page: https://github.com/SheetJS/js-xlsx/wiki/Browser-Errors

[2017-03-13 02:45] #247 closed

[2017-03-13 02:47] reviewher commented on #337
This is in [the Input Type subsection](https://github.com/SheetJS/js-xlsx#input-type) of the [Parsing Options section](https://github.com/SheetJS/js-xlsx#parsing-options) in the README.

[2017-03-13 02:47] #337 closed

[2017-03-13 02:53] reviewher commented on #288
It is possible you ran into a node bug like https://github.com/nodejs/node-v0.x-archive/issues/8208 , especially if it worked on windows and not in linux.

For future reference: the original link 404s, based on the URL my best guess is https://files.datapress.com/london/dataset/london-business-survey-2014-business-performance-and-outlook/LBS%202014%20BPM1%20Turnover%20of%20London%20businesses.xls

[2017-03-13 02:53] #288 closed

[2017-03-13 02:58] reviewher commented on #280
The JSON converter is pretty simple.  It read the first row to determine the column headers.  In this case, there's only one value and it's in the first column, so it assumes your file really only has one named column.  Your file's headers are really on the second row.

To get the converter to skip the first row, pass `{range:1}` into the sheet_to_json function:

[code]

To get the raw data rather

[2017-03-13 02:58] #280 closed

[2017-03-13 03:00] reviewher commented on #244
Added a note in the wiki: https://github.com/SheetJS/js-xlsx/wiki/Browser-Errors#ie-object-doesnt-support-property-or-method-slice

[2017-03-13 03:00] #244 closed

[2017-03-13 03:19] reviewher commented on #492
Can you share some sample code and test against the latest version?  We were able to generate some files with Chinese characters: https://gist.github.com/SheetJSDev/03b0717087c9e2c088b593019367fcd9

[2017-03-13 03:28] SheetJSDev commented on #487
`WTF:true` exposes all of the sheet-level errors (by default they are caught and suppressed).  It also adds a whole host of new errors pertaining to file features that are not recognized by the parser.

It is mainly useful for development, as the errors usually represent "we don't know what that thing is" and the default behavior is "just ignore the odd things".

A note will be added to the README

[2017-03-13 04:46] SheetJSDev commented on #326
This is not a bug, but rather a deficiency in XLS and XLSX files.  See https://github.com/SheetJS/js-xlsx/issues/560 for a longer discussion.  The format code 14 is supposed to represent a "localized" date, which means the output depends on your computer settings.  However, Excel doesn't store that information in the file! XLS has a country property but that isn't sufficient to determine the regio

[2017-03-13 04:52] SheetJSDev commented on #298
Thanks @aimcom @baharudinafif that throw statement should have been guarded with a WTF check.  We're removing the throw in 0.9.2

[2017-03-13 04:54] reviewher commented on #295
@tansu925098 without a file we can't say what's going on.  Can you share that users.xlsx file?

[2017-03-13 04:58] reviewher commented on #327
@cskaandorp what a glowing recommendation of meteor /s We'll wait for the next report

[2017-03-13 04:58] #327 closed

[2017-03-13 04:59] #168 closed

[2017-03-13 06:16] jayabhar commented on #556
Hi,

I am still facing this issue. When I try to print: typeof Buffer != 'undefined', it says true. Can you please suggest a fix?

Thanks,

[2017-03-13 06:18] SheetJSDev commented on #556
@jayabhar somewhere in your stack, you are pulling in a buffer shim.  If you are using webpack, you can suppress the behavior with something like:

[code]

That's what we use in the [webpack demo](https://github.com/SheetJS/js-xlsx/blob/master/demos/webpack/webpack.config.js#L9-L12)

[2017-03-13 06:53] #203 closed

[2017-03-13 06:53] #298 closed

[2017-03-13 06:53] #438 closed

[2017-03-13 06:53] #469 closed

[2017-03-13 06:53] #487 closed

[2017-03-13 06:53] #551 closed

[2017-03-13 07:45] reviewher commented on #415
We have reworked the library to play nice with webpack.  [The web pack demo](https://github.com/SheetJS/js-xlsx/blob/master/demos/webpack/) uses the following config to address the issues:

[code]

@ArnieGA `XLSX.readFile` and `XLSX.writeFile` are node-only and should not be used in the browser.  `XLSX.read` and `XLSX.write` work with data that you would obtain from a FileReader or XMLHttpRequest.

[2017-03-13 07:45] #415 closed

[2017-03-13 10:34] petergombos opened #590 "Disabling optional modules using Webpack is not working"
Hi there, trying not to include the optional packages using 0.9.2, here is my resolve code:

[code]

Unfortunately it does not have any impact, my build file size stays the exact same with or without of these in my config file.

Anything I'm missing?

Thanks!
P

[2017-03-13 11:19] sheeeeep opened #591 "XLS column widths"
there is no ['!col'] in my worksheet.

`
var workbook = XLSX.readFile('inputFiles/data.xls');
const worksheet = workbook.Sheets.Sheet1;
`

[2017-03-13 11:38] rashthedude opened #592 "Non removal of empty columns"
I'm currently using this library and empty columns/cells are removed when parsed, is there an option to keep them somehow?

[2017-03-13 11:40] rashthedude commented on #139
Any updates on this matter?

[2017-03-13 12:05] think01 commented on #273
I use ODS and I workarounded it. Anyway you should be able to reproduce it with a single line like the one I reported above (actually taken from my sheet).

[2017-03-13 12:17] rashthedude commented on #592
This is what I'm doing more or less:

var sheet_name_list = workbook.SheetNames;
sheet_name_list.forEach(function(y) { /* iterate through sheets */
  var worksheet = workbook.Sheets[y];
  for (var z in worksheet) {
    /* all keys that do not begin with "!" correspond to cell addresses */
    if(z[0] === '!') continue;
    console.log(y + "!" + z + "=" + JSON.stringify(worksheet[z].v));
  }
});

I

[2017-03-13 12:34] hstarorg commented on #326
@SheetJSDev ok,tks.

[2017-03-13 13:10] SheetJSDev commented on #590
We have a webpack demo in `demos/webpack` directory of the repo: https://github.com/SheetJS/js-xlsx/tree/master/demos/webpack  I copied that directory to a new location and installed a copy of `xlsx` from npm.

The main.js is very simple, the only purpose is to expose the XLSX variable:

[code]

The webpack config file is:

[code]

And the command is:

[code]

If I run with those 3 lines commented

[2017-03-13 13:25] SheetJSDev commented on #592
@rashthedude I assume you mean empty cell.

README: https://github.com/SheetJS/js-xlsx#worksheet-object

Each worksheet stores its range in a key `!ref`.  If `worksheet` is the your sheet, then `worksheet['!ref']` is the range.  Using the `XLSX.utils.decode_range` function, you can get the full extent of the worksheet.  Then you can loop across the sheet by looping across all rows and columns in t

[2017-03-13 13:32] SheetJSDev commented on #591
Column widths are currently calculated only for XLSX and they are available at the key `'!cols'`.

[2017-03-13 13:42] SheetJSDev commented on #273
@Jawad-LiftOff If it is only ODS we resolved it in 0.8.2 as per https://github.com/SheetJS/js-xlsx/issues/328.  If it's some other format I'd like to take a look at the affected file.

[2017-03-13 13:42] #273 closed

[2017-03-13 14:23] tosehee75 commented on #285
Can you elaborate on the 'node' behavior?

Where should I add that in webpack?

[2017-03-13 14:24] SheetJSDev commented on #285
@tosehee75 in the `webpack.config.js` script:

[code]

[2017-03-13 14:34] tosehee75 commented on #285
I don't see this file at all in my angular-cli created project.

[2017-03-13 14:34] tosehee75 commented on #526
I still get this error.

[code]

[2017-03-13 14:41] tosehee75 commented on #285
Updated to 0.9,2 and it doesn't give me any warnings or compile errors. For some reason, I don't have/need the webpack.config.js

[2017-03-13 14:44] SheetJSDev commented on #285
At this point I think the basic webpack/browserify concerns have been resolved. @quadrupleslap @alisonatwork @barbalex @chavezom @whytheday and everyone else, if you are encountering any issues please let us know.  We are closing this issue.

[2017-03-13 14:44] #285 closed

[2017-03-13 14:48] SheetJSDev commented on #339
At this point I think we resolved the browserify/angular problems.  @tkhyn I am not familiar with SystemJS, but please test against the latest version and raise a new issue if it is still failing.

[2017-03-13 14:48] #339 closed

[2017-03-13 14:49] SheetJSDev commented on #529
If you are using webpack, using `require('xlsx')` should do the right thing now.  Please test and raise a new issue if there are any issues with the newest version

[2017-03-13 14:49] #529 closed

[2017-03-13 14:56] SheetJSDev commented on #334
I am not familiar with that specific error, but my guess is that you are running in something other than node.  `readFile` does not work in the browser.  You need to get the file data somehow (like an XMLHttpRequest) and call `read`.

If you can share a small project we can take a deeper look.

[2017-03-13 14:56] #334 closed

[2017-03-13 15:26] rashthedude commented on #592
Hi there,

Thanks for the swift reply but I'm a little confused. To give you a clear idea of what I'm doing:

workbook - xlsx.readFile(file)
sheet_name_list = workbook.SheetNames

sheet_name_list.forEach( (y)   ->
   worksheet = workbook.Sheets[y]
   for m, n of worksheet
      // do something here

So where exactly do I make use of "decode_range"?

[2017-03-13 15:32] SheetJSDev commented on #592
@rashthedude The worksheets are objects whose keys are cell addresses (like `B3`) and whose values are cell objects.  The code you presented will iterate across the cells.  In retrospect that's not a great pattern and we will remove it from the README.

What exactly are you trying to do?  For example, if you just want to get the content as an array of arrays, the `sheet_to_json` utility function w

[2017-03-13 15:46] SheetJSDev commented on #357
@jfoxworth I think you are seeing the same thing as in https://github.com/SheetJS/js-xlsx/issues/280

Long story short: `sheet_to_json` will read the first row to determine row headers.  If the first row happens to have one entry, the exporter will only display that column.

@reviewher gave one solution: https://github.com/SheetJS/js-xlsx/issues/280#issuecomment-286004644 if your actual header row

[2017-03-13 15:46] #357 closed

[2017-03-13 15:48] SheetJSDev commented on #330
You can't use `fs` or `XLSX.readFile` in the browser.  Use `XLSX.read`.  If you need specific examples, the demo http://oss.sheetjs.com/js-xlsx/ source is in the [gh-pages branch](https://github.com/SheetJS/js-xlsx/tree/gh-pages) of the repo.  `index.html` uses HTML5 File API and `ajax.html` uses XMLHttpRequest

[2017-03-13 15:48] #330 closed

[2017-03-13 15:49] rashthedude commented on #592
@SheetJSDev Yes I'm trying to fetch the content as an array and iterate over it.

[2017-03-13 16:26] afboteros opened #593 "Bower package not downloading"
Hi,

When i download the package with bower, it prints the following message at the end of the log:
```bower                          no-json No bower.json file to save to, use bower init to create one```

And the library does not download, any idea?

Thanks.

[2017-03-13 16:38] rashthedude commented on #592
Managed to get it to work at last. Thanks again @SheetJSDev.

[2017-03-13 16:50] SheetJSDev commented on #593
@afboteros can you share the log and check the version of bower you are using?

I just tested and I don't see that error:

[code]

[2017-03-13 16:53] afboteros commented on #593
Sorry, i was running bower command with --save in a folder without bower.json, it's working ok. Thanks.

[2017-03-13 16:53] #593 closed

[2017-03-13 16:56] SheetJSDev commented on #592
@rashthedude sheet_to_json, as the name indicates, takes a worksheet :D Feel free to raise another issue if you encounter more issues.

[2017-03-13 16:56] #592 closed

[2017-03-13 17:19] SheetJSDev commented on #325
@nmalancea @shapiromatron Feature requests like this are tricky because it first involves understanding the feature and how it is represented in the actual raw formats.  Let's focus on XLSX for the moment.

Based on some testing, I think Excel XLSX cares about *where* the `sheetViews` appears in the XML file.  To test this, I saved a file with a freeze pane, then just moved the `sheetViews` block

[2017-03-13 17:58] reidblomquist commented on #582
Killer - thanks for this @jimjin using your fork till this gets merged into releases!

[2017-03-13 18:07] SheetJSDev commented on #380
Can you share an offending file?  I tried to manually generate a file with the text you provided in Excel 2016 and I see the correct results.  The XML shared string table shows:

[code]

and reading with XLSX shows the same result:

[code]

[2017-03-13 20:19] SheetJSDev commented on #568
@thiagohagy Can you check the following option sets and report on the file sizes:

A) `var opts = {bookType: 'xlsx'};`

B) `var opts = {bookType: 'xlsb'};`

C) `var opts = {compression:true, bookType: 'xlsx'};`

D) `var opts = {compression:true, bookType: 'xlsb'};`

E) `var opts = {bookSST:true, bookType: 'xlsx'};`

F) `var opts = {bookSST:true, bookType: 'xlsb'};`

G) `var opts = {bookSST:true, c

[2017-03-13 21:46] klaszlo commented on #285
@SheetJSDev: Here is my test repo: https://github.com/klaszlo/jsxlsx-webpack
I modified js-xlsx inside `client/app/XLSXReaderService/vendor/*.js` files.
I also commented out all the node.js require statements, it is working for me for file reading on the client side.
I think you should separate the client and server side into separate files.

The test repo written in javascript es6, with angular 1

[2017-03-13 22:17] SheetJSDev commented on #285
@klaszlo thanks for sharing! so I changed the code to load the npm version of xlsx rather than your vendored version, and I can confirm that the build fails when using xlsx@0.8.0 but passes with xlsx@0.9.2 -- running `webpack --env=dev --progress --colors --display-modules` shows:

[code]

I also added an examples page to the wiki: https://github.com/SheetJS/js-xlsx/wiki/Examples

[2017-03-14 06:56] klaszlo commented on #285
@SheetJSDev: Thank you for your review! At the example page (what you linked),
there is just a link to my repo (but not your code change).

Can you fork the project/send a pull request/publish a brand new repository,
so we can update that test project?

Maybe it is useful for someone else also.

[2017-03-14 08:21] #173 closed

[2017-03-14 13:01] seunggabi opened #595 "[Help me] cell writing not work!"
Hello.
I have a issue
the issue is [enter key] not working cell

asdf[enter]asdf
==== cell update ===>
asdf
asdf

I don't understand. this was situation....
I need your help..

In fact, I am making Excel Merge Tool(EMT)
https://github.com/seunggabi/excel-merge-tool
If you help, you can make it successful.

I will wait for your help :)

[2017-03-14 14:38] ScreamZ opened #596 "Improve doc for optional module"
Hello, first I want to thank you for this great tool !

Just wanted to know the difference between
https://github.com/SheetJS/js-xlsx/blob/master/dist/xlsx.core.min.js
AND
https://github.com/SheetJS/js-xlsx/blob/master/dist/xlsx.min.js

I'm using in browser with a good old Symfony app

Best regards

[2017-03-14 15:31] reviewher commented on #596
There are 3 minified source files:

- `xlsx.min.js` is the minified version of this library.
- `xlsx.core.min.js` includes dependencies .
- `xlsx.full.min.js` also includes optional modules.

XLSX, XLSB and ODS support requires a zip reader/writer.  The default `xlsx.min.js` does not include it, so you have to include [jszip.js](https://github.com/SheetJS/js-xlsx/blob/master/dist/jszip.js) before

[2017-03-14 15:31] #596 closed

[2017-03-14 16:27] ScreamZ commented on #596
@reviewher Awesome thanks.

Maybe add a section in the readme about that ?

Regards.

[2017-03-14 18:11] thiagohagy commented on #568
whit the options :
{ bookSST: true, bookType: 'xlsx' },
{ bookSST: true, bookType: 'xlsb' },
{ bookSST: true, compression: true, bookType: 'xlsx' },
{ bookSST: true, compression: true, bookType: 'xlsb' },
The size of the files are considerably decreased, but as you said, the time to generate the files take much longer for big files.So I'm  going to use this options for smaller files and keep the b

[2017-03-14 18:13] SheetJSDev commented on #595
@seunggabi What do you mean by "enter key"? are you trying to insert a newline `"\n"` in a cell?

[2017-03-14 18:45] #348 closed

[2017-03-14 19:06] SheetJSDev commented on #568
@thiagohagy it's unfair that Excel and LibreOffice can use highly optimized compiled code while we have to run everything in the browser!  At some point we hope to revisit the ZIP situation

[2017-03-14 19:06] #568 closed

[2017-03-14 19:12] SheetJSDev commented on #566
This sounds like something coming from AMcharts, I'd raise the issue with them first

[2017-03-14 19:12] #566 closed

[2017-03-14 19:19] SheetJSDev commented on #482
The `sheet_to_json` option takes a `range` argument.  If you set the range to `1` it will automatically skip the first row.  Here's a sample XLSX file where the second row is the real "header"

[header_row.xlsx](https://github.com/SheetJS/js-xlsx/files/842444/header_row.xlsx)

[code]

Here's a session in node, but the same thing works in browser too:

[code]

[2017-03-14 19:19] #482 closed

[2017-03-14 21:16] orau-dev commented on #470
Hi!
We are experiencing the same problem and we figured it out to be an Excel issue. It has to do with Enable Editing when Excel is in the Protected View. Simply, when the excel file is generated and opened, at the top, underneath the menu in excel is a message like this:

![protected view](https://cloud.githubusercontent.com/assets/26419399/23922344/5d05752c-08d8-11e7-95a6-6dd0e2348b2c.PNG)

Whil

[2017-03-14 21:20] SheetJSDev commented on #470
@orau-dev thanks for the report!  Is there any way we can change the generated file to avoid this issue?  Does it show up with XLSB export or with any of the other formats?

[2017-03-14 21:53] slinhart commented on #590
This worked for me @SheetJSDev. Thanks for providing detailed sample. :1st_place_medal:

[2017-03-14 23:20] orau-dev commented on #470
@SheetJSDev, That is my next step. I'll let you know in the next few days. The hard part was focusing the symptom to the actual problem.

[2017-03-15 04:16] #212 closed

[2017-03-15 04:20] #65 closed

[2017-03-15 08:17] SheetJSDev commented on #524
@reviewher We are about to push a change unifying the stub processing under cell type `z`

[2017-03-15 08:22] #333 closed

[2017-03-15 08:22] #382 closed

[2017-03-15 13:57] seunggabi commented on #595
Yes, I am

[now..]
"asdf"+String.fromCharCode(13)+"asdf" => asdf asdf
====excel file open & cell update====> asdf\nasdf

[2017-03-15 18:18] MarcoAPA commented on #525
Does generateID method return a number? you can call that method there but dont know if youre returning a number.
About the data type of the resolve, are you returning the json variable when the XLStoJSON() promise resolves?
If you want to just save the XLS info in your page class why dont you create a class variable and save that json?
[code]
Havent tried it but hope it works.

[2017-03-15 21:06] orau-dev commented on #470
@SheetJSDev, I looked at other formats and it seems to still be a problem. I also looked at Excel options, with no solution. It appears to be an Excel bug. In our case, we really need the file to be in xlsx format and using any other format is a nonstarter.

[2017-03-15 21:24] orau-dev commented on #470
@SheetJSDev, on another note (not sure the best place to communicate with you without dirtying this tread), I use this Excel library from a TypeScript class. I have a type definition file and a wrapper class that makes reading and writing excel files easier for me. Are you interested in them? You may need to test and/or modify to fit your scheme.

[2017-03-15 21:31] SheetJSDev commented on #470
I tried but cannot reproduce the issue using http://sheetjs.com/demos/table.html with Chrome/Excel2016/Windows 7.  I clicked the "Export to XLSX!" button and it generates a file, I see that protected warning when I open the file, but I can add a sheet to the downloaded file and I can copy-paste without any warnings.

@orau-dev can you generate a simple file which shows this problem?  I can hand-cr

[2017-03-16 01:43] SheetJSDev commented on #416
Set the `!merges` key of a worksheet to an array of ranges.  It is expected to be an array of range objects.  For each entry, the topleft cell will be merged into the full range.  For example, the test suite round-trips [merge_cells.xlsx](https://github.com/SheetJS/test_files/blob/master/merge_cells.xlsx?raw=true).

This is the file:
<img width="308" alt="" src="https://cloud.githubusercontent.com

[2017-03-16 01:43] #416 closed

[2017-03-16 01:47] SheetJSDev commented on #394
@keyscores we explained the input `type` option in https://github.com/SheetJS/js-xlsx#input-type .

I think there are modules like `concat-stream` that will do the buffer concat logic for you, but that's for another day.

[2017-03-16 01:47] #394 closed

[2017-03-16 01:52] SheetJSDev commented on #393
@tomfred23 This is happening because `XLSX` is not present.

In nodejs, you need to require the `xlsx` module using a line like @digelim 's comment

In the browser you have to make sure that the source is loaded.  Normally you put a script tag like `<script src="xlsx.js">` in the source.

If the console shows an execution error pertaining to xlsx.js, that is a bug and should be reported.

[2017-03-16 01:52] #393 closed

[2017-03-16 01:55] SheetJSDev commented on #595
@seunggabi we will have an answer soon.  The different formats treat the character codes `0x0A` and `0x0D` in subtly different ways, mainly because Excel isn't entirely consistent.

(related https://github.com/SheetJS/js-xlsx/issues/108).

[2017-03-16 02:06] #434 closed

[2017-03-16 02:12] reviewher commented on #299
`xlsx.core.min.js` and `xlsx.full.min.js` both embed the jszip dependency but `xlsx.min.js` does not -- you have to also include `jszip.js`.  We are going to clarify this in the documentation

[2017-03-16 02:12] #299 closed

[2017-03-16 04:08] seunggabi commented on #595
@SheetJSDev Thanks you sir.

I understand your word.
You told me, it(\n update issue) is not working, however You will have an answer soon. isn't it?

[2017-03-16 06:37] biswassuman23 opened #597 "SheetJS xlsx-style need cell style in excel"
I am trying to export excel using SheetJS/xlsx and want to format cell. I am using following code and excel is generating but can't format a cell. Can any one point the issue or can share a complete sample code for this?

Loading library files
[code]
Remaining code are
[code]
Calling with these code
[code]
Please help me finding out where I am wrong.

Thanks Suman

[2017-03-16 13:32] gabeno commented on #424
I had to specify the sheet I am interested in thus:

[code]

It is not clear in the docs. So is this the intended behaviour missing in the docs or I am missing something myself?

[2017-03-16 13:41] evk0 commented on #300
+1

[2017-03-16 14:08] SheetJSDev commented on #424
@gabeno there's one general line in the enclosing section:

https://github.com/SheetJS/js-xlsx#utility-functions

That line probably should be included in each of the subsections.

[2017-03-16 15:41] Palakp41 commented on #201
Thank you so much @ashwin-ragha1! This helped a lot!

[2017-03-16 22:07] SheetJSDev commented on #595
Ok I looked into this a bit.  There are two parts.

1) what character should be used?

ODS/FODS accept either `\n` or `\r` based on my tests, whereas Excel only accepts `\r`.

2) how do you get excel to show multiple lines?

If you do that, the cell won't show up in 2 lines but you can select the cell and enable "Wrap Text" (right-click the cell, go to format cells, then "Alignment" tab then check

[2017-03-16 23:27] SheetJSDev commented on #119
See https://github.com/SheetJS/js-xlsx/issues/416#issuecomment-286932882

[2017-03-16 23:27] #119 closed

[2017-03-17 09:23] jayabhar commented on #556
Thank you !!! It worked for me.

[2017-03-17 13:06] thiagohagy opened #598 "How to add information on an existing workbook"
I want to create a file and save it into a folder, then I want to open this file and add some content several times.Can I do this?

[2017-03-17 15:38] ashwin-ragha1 commented on #201
Glad to be of help ☺️

[2017-03-17 17:18] orau-dev commented on #470
I tried your demo and interestingly, I don’t get the problem either. So I’m baffled. I believe you saw the link to Microsoft admitting a bug. But, your test file doesn’t produce the issue. The only difference I think between my file and one the demo generates is my file applies styles to the cells. There could also be some underlying formatting attributed to the way the cells are formatted in java

[2017-03-17 17:29] SheetJSDev commented on #470
@orau-dev @ramstheroyal If you are using the @protobi fork with styles, you are probably seeing https://github.com/protobi/js-xlsx/issues/26  I assume the warning about files from the Internet cannot be suppressed.

[2017-03-17 17:29] #470 closed

[2017-03-17 20:13] orau-dev commented on #470
Ah,
You are right. I am using the forked version. However, I think I’m using a later version than is referenced. I’ll look into it. But, thanks!

John R. Riesenberg | Senior Tool Developer | NIOSH Dose Reconstruction Team | Dade Moeller<http://www.dademoeller.com/> – an NV5<http://www.nv5.com/dade-moeller-is-now-nv5/> Company
P: 513.777.0277 | C:513.235.6891

From: SheetJSDev [mailto:notifications

[2017-03-18 00:54] #152 closed

[2017-03-18 00:54] #300 closed

[2017-03-18 00:54] #306 closed

[2017-03-18 00:54] #549 closed

[2017-03-18 00:56] SheetJSDev commented on #549
We updated the [write test](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L82-L93) with an example

[2017-03-18 00:56] SheetJSDev commented on #306
We updated the [write test](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L82-L93) with an example

[2017-03-18 00:56] SheetJSDev commented on #300
We updated the [write test](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L82-L93) with an example

[2017-03-18 00:58] SheetJSDev commented on #152
We finally settled on a convention: for non-array formulae just setting the `f` key will export the formula.  For array formulae, set the topleft corner cell's `F` key to the array formula range.  This works for range as well as point array formulae.

We updated the [write test](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L82-L93) with an example

[2017-03-18 00:59] #512 closed

[2017-03-18 01:06] #133 closed

[2017-03-18 05:30] SheetJSDev commented on #590
@petergombos I believe that the aforementioned fix resolves the issue.  Please reopen the issue if it doesn't work

[2017-03-18 05:30] #590 closed

[2017-03-19 07:06] SheetJSDev commented on #295
Unfortunately we need to see the file to figure out what's going on.  Closing the issue for now, but please reopen if you can share an offending file!

[2017-03-19 07:06] #295 closed

[2017-03-19 07:08] SheetJSDev commented on #296
[code]

We added this to the docs: https://github.com/sheetjs/js-xlsx#json

[2017-03-19 07:08] #296 closed

[2017-03-19 08:29] aboodh95 commented on #82
@vikash52  did you solve the issue or find a way to solve it

[2017-03-19 17:04] jpca999 commented on #494
ok got it, but how do i convert an excel file into json, sorry i dont understnd the documentation....

[2017-03-19 17:20] SheetJSDev commented on #494
Are you running in nodejs or in the web browser?  How do you plan on supplying the file?

Here's a node example:

[code]

[2017-03-19 17:21] jpca999 commented on #494
nope via node.  not on browser.
Let me try this.

[2017-03-19 18:16] SheetJSDev commented on #494
@jpca999 if you are looking for output, you need something like `console.log(json)` after that line

[2017-03-19 18:34] jpca999 commented on #494
Holy shit, it works, ive beeen trying to get this work for last 6mos, soemthing this error, sometime that error . Thanks  @SheetJSDev

[2017-03-19 18:37] jpca999 commented on #494
@SheetJSDev

quick question now im trying to write the ouput on file, im gettin this weird error again

var fs=require('fs');

var XLSX = require('xlsx');
var wb = XLSX.readFile('working.xls');
var sheetname = 'Worksheet'; // if the sheet name is different ,use wb.SheetNames[0] to get the first sheet
var jso = XLSX.utils.sheet_to_json(wb.Sheets[sheetname]);
console.log( ' json = ', jso);
fs.write(

[2017-03-19 18:41] SheetJSDev commented on #494
@jpca999 you probably meant to use [`writeFileSync`](https://nodejs.org/api/fs.html#fs_fs_writefilesync_file_data_options).  Try

[code]

That should generate a data.json file

[2017-03-19 18:44] jpca999 commented on #494
lol - your right but the output that i get isn't real juicy data, but
[object Object],[object Object]

![image](https://cloud.githubusercontent.com/assets/1026325/24083702/9b82a314-0cb2-11e7-8058-537340c745b3.png)

var fs=require('fs');
var XLSX = require('xlsx');
var wb = XLSX.readFile('working.xls');
var sheetname = 'Worksheet'; // if the sheet name is different ,use wb.SheetNames[0] to get the

[2017-03-19 18:50] SheetJSDev commented on #494
@jpca999 you need to convert `jsonOut` to a string first.  Try this:

[code]

[2017-03-19 18:52] jpca999 commented on #494
@sheetjsdev   perfect!  thanks a bunch!

[2017-03-19 23:11] SheetJSDev opened #599 "Defined Names"

[2017-03-19 23:11] SheetJSDev commented on #6
Closing in favor of https://github.com/SheetJS/js-xlsx/issues/599

[2017-03-19 23:11] #6 closed

[2017-03-19 23:17] SheetJSDev commented on #83
Defined names are captured in workbook object's `Workbook.Names` field.  For the [defined_names_simple.xlsx sample test file](https://github.com/SheetJS/test_files/blob/master/defined_names_simple.xlsx?raw=true) the object looks like this:

[code]

The `!names` field is an ordered list of the defined names, while each name is its own key.  The keys of the object include `Name` for the name of the

[2017-03-19 23:17] #83 closed

[2017-03-20 04:28] seunggabi commented on #595
@SheetJSDev

Okay, I understand your word.
I appreciate your tips No.2

I learned 'Wrap Text' because of you.
If I need help, I'll ask you another question.

[2017-03-20 09:03] #591 closed

[2017-03-20 14:23] #102 closed

[2017-03-20 14:30] SheetJSDev commented on #338
This sounds like a shared formula issue.  Please try against a version >= 0.8.4 and comment if still misses the formula.

[2017-03-20 14:30] #338 closed

[2017-03-20 14:41] asksahil commented on #506
Hello,

Thank you for the fix. Though there are some issues still pending. Even though the excel is parsing now, its unable to parse the date fields correctly. Example, the date is parsed like a number "40909" instead of "3/31/2012"

[2017-03-20 14:54] SheetJSDev commented on #506
@asksahil It looks like this file is attempting to override the standard number formats.  It is attempting to set number format 1 to a date:

[code]

However number format 1 is a no-decimal number.  The standard number formats are listed in the [`table_fmt` variable](https://github.com/SheetJS/js-xlsx/blob/master/bits/10_ssf.js#L26-L31).  The tool should be writing to the custom number format rang

[2017-03-20 15:49] SheetJSDev commented on #191
Ok so it looks like Excel doesn't actually care.  We will change these and a few other tags

[2017-03-20 21:42] #191 closed

[2017-03-21 16:57] SheetJSDev commented on #126
We're making the following changes to address this:

- `SSF.is_date(fmt)` uses the tokenizer from the formatter to determine if a format string is a date
- `cellDates:true` option for every format will look at the number format and generate dates (type `d`) if the format is a date format

[2017-03-21 17:13] SheetJSDev commented on #531
@leodutra we expanded that part: https://github.com/SheetJS/js-xlsx#json please take a quick look and let us know how to improve it

[2017-03-21 17:26] SheetJSDev commented on #183
The formulae should be written to XLSX as of 0.9.4, comments are not yet written to file.

[2017-03-21 17:28] SheetJSDev commented on #303
Please test against the latest version and re-open if the problem persists.

[2017-03-21 17:28] #303 closed

[2017-03-21 17:30] SheetJSDev commented on #204
@vstegman @matthewmueller please reopen or comment here if you find this problem with the latest version.  I'm pretty sure it is a shared formula issue, which we recently addressed

[2017-03-21 17:30] #204 closed

[2017-03-21 17:50] SheetJSDev commented on #249
`sheet_to_json` takes an options argument.  Set the header field to an array if you want to override the headers.  Here's a sample:

[code]

Here is a sample:

![v90nfal](https://cloud.githubusercontent.com/assets/6070939/24162131/f154a734-0e3c-11e7-8f6a-cbfc94cd629b.png)

[issue_249.xlsx](https://github.com/SheetJS/js-xlsx/files/859146/issue_249.xlsx)

The output :

[code]

[2017-03-21 17:50] #249 closed

[2017-03-21 18:05] SheetJSDev commented on #250
CSV was added as a supported write format in `writeFile` so this should just work now.  Please test and reopen if there are any issues

[2017-03-21 18:05] #250 closed

[2017-03-21 18:10] SheetJSDev commented on #499
This appears to work in 0.9.4 -- can you check against the latest version and confirm?

[2017-03-21 18:10] #499 closed

[2017-03-21 18:19] SheetJSDev commented on #265
http://sheetjs.com/demos/table.html uses https://github.com/dcneiner/downloadify as a fallback for IE.  It can generate valid files in IE6:

<img width="884" alt="screen shot 2017-03-21 at 14 18 06" src="https://cloud.githubusercontent.com/assets/6070939/24163538/4017b092-0e41-11e7-9f24-5d246b15fa6e.png">

This is probably an issue with sending binary results back to your server.  I would recommen

[2017-03-21 18:19] #265 closed

[2017-03-21 18:24] SheetJSDev commented on #272
Each worksheet has a `!ref` key which encodes a range.  use `decode_range` to parse it:

[code]

The `decode_range` utility takes a string like "A2:C4" and returns a [range object](https://github.com/sheetjs/js-xlsx#general-structures)

[2017-03-21 18:24] #272 closed

[2017-03-21 18:24] SheetJSDev commented on #257
We folded XLS into XLSX and added BIFF2 XLS writing.  We will eventually add BIFF8, but for now BIFF2 works all the way back to Excel 2.0

[2017-03-21 18:24] #257 closed

[2017-03-21 18:33] SheetJSDev commented on #353
We folded XLS into XLSX and added BIFF2 XLS writing.  We will eventually add BIFF8, but for now BIFF2 works all the way back to Excel 2.0

To generate an xls file, just set `bookType:"biff2"` in the write call.  http://sheetjs.com/demos/table.html the XLS BIFF2 line demonstrates XLS writing.

@carrbrpoa in general the difficulty with writing is ensuring that other tools can read the stuff you writ

[2017-03-21 18:33] #353 closed

[2017-03-21 18:34] #157 closed

[2017-03-21 18:44] SheetJSDev commented on #243
h/t @MikhailTatsky

Would it make more sense for dynamic codec loading (say, a separate file for each format, and the main script would house the core format detection logic and make a request for the right codec)?

[2017-03-21 18:44] SheetJSDev commented on #251
@neridaj can you test against the latest version, and do you have an example file?

[2017-03-21 20:45] #59 closed

[2017-03-21 20:45] #126 closed

[2017-03-21 20:45] #279 closed

[2017-03-21 23:22] SheetJSDev commented on #289
@mrdance92 if you can follow up with some more details we can figure out what's going on

@Inateno if you have a small NW sample we can link to it in the wiki!

[2017-03-21 23:22] #289 closed

[2017-03-21 23:24] SheetJSDev commented on #281
As @funkyLover pointed out, `readFile` is node only.  You need to grab the data in the browser and call `XLSX.read`.  [The README](https://github.com/SheetJS/js-xlsx#parsing-workbooks) includes some examples as well as links to demos showing how to read data on the client side.

[2017-03-21 23:24] #281 closed

[2017-03-21 23:27] SheetJSDev commented on #355
@filipeamorim @medaamarnadh can you share a sample file showing this problem?  Do you also see the problem in http://oss.sheetjs.com/js-xlsx/ ?

[2017-03-22 00:38] SheetJSDev commented on #460
@clovissix please reopen or leave a comment if the issue shows up again.

[2017-03-22 00:38] #460 closed

[2017-03-22 01:52] reviewher commented on #395
When you read a file, it doesn't store the cell formats by default.  You have to set the option `cellNF:true` in the read call.  For example, in nodejs using XLSX.readFile:

[code]

Every cell will have a `z` field with the number format, and then you will see saving the file works.

[2017-03-22 01:52] #395 closed

[2017-03-22 02:27] reviewher commented on #462
At a high level, you need to insert cell objects and update the worksheet range.  Here's a simple function to add a cell to a worksheet:

[code]

For example, using the [write demo](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js) to generate [`sheetjs.xlsx`](https://github.com/SheetJS/js-xlsx/files/860187/sheetjs.xlsx), here's how you would set `F6` to `12345`:

[code]

[2017-03-22 02:27] #462 closed

[2017-03-22 02:34] reviewher commented on #535
@shen5455 the recommendation is to switch to `readAsBinaryString` or `readAsArrayBuffer`.  There are a few code samples and links to demos in the README: https://github.com/SheetJS/js-xlsx#parsing-workbooks

[2017-03-22 02:34] #535 closed

[2017-03-22 07:52] SheetJSDev commented on #182
We added an option `strip` to `sheet_to_csv` that will now strip any trailing commas (or whatever the field separator happens to be).

[2017-03-22 07:52] SheetJSDev commented on #134
Note: these changes are in the repo and will appear in version 0.9.5.

If you read in with `cellDates:true`, the date-stored-as-number cells will be proper dates.

If you set the `dateNF` key of the options object to a number format string, the formatter will use it. Following the example from [my previous comment](https://github.com/SheetJS/js-xlsx/issues/134#issuecomment-58664998):

[code]

[2017-03-22 07:53] #134 closed

[2017-03-22 07:53] #182 closed

[2017-03-22 08:03] SheetJSDev commented on #400
It looks like that was a kendo issue and it was resolved.  If you can add a note in the project wiki, I'm sure other people will find it helpful!

[2017-03-22 08:03] #400 closed

[2017-03-22 08:10] SheetJSDev commented on #314
The inverse of the `XLSX.utils.sheet_to_json` function where `header:1` is set (so we are dealing with arrays-of-arrays) is in the test suite:

https://github.com/SheetJS/js-xlsx/blob/master/test.js#L1044-L1069

https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L46-L70

We will be adding a function like this, named `XLSX.utils.aoa_to_sheet`,  for the 0.9.5 release

[2017-03-22 08:43] Inateno commented on #289
Sorry unfortunately it was a project in a previous company and I can't share anything from it.
I'll try to do a sample if I have some time this week.

[2017-03-23 05:58] #147 closed

[2017-03-23 05:58] #582 closed

[2017-03-23 06:12] SheetJSDev commented on #139
I think this was resolved a long time ago, in version 0.8.0 the fix from https://github.com/SheetJS/js-xlsx/issues/139#issuecomment-60823125 was applied.  I just tested a file and see blank arrays generated when the option `{header:1}` is set.

As far as I can tell the crux of the matter (including empty rows) has been resolved.  If anyone can share a sample file with expected output I'll reopen t

[2017-03-23 06:12] #139 closed

[2017-03-23 06:23] SheetJSDev commented on #64
We're slowly improving the documentation.  The underlying structure is stabilizing, and for most supported features all of the parsers should generate the same fields consistent with the README.

At the moment we're trying to go feature by feature and hammer out documentation while we ensure the main supported parsers (XLS/XLSX/XLSB/SpreadsheetML) produce similar parsed objects.  If there is anyth

[2017-03-23 06:23] #64 closed

[2017-03-23 06:32] SheetJSDev commented on #520
Currently the `compression` write option instructs the zip library to compress files.  See https://github.com/SheetJS/js-xlsx/#writing-options.

As an example:

[code]

[2017-03-23 06:32] #520 closed

[2017-03-23 06:41] reviewher opened #600 "zip library"
jszip stopped supporting the sync API, is it worth investing in a new JS ZIP library?

[2017-03-23 06:41] reviewher commented on #20
rebooting discussion in https://github.com/SheetJS/js-xlsx/issues/600

[2017-03-23 06:41] #20 closed

[2017-03-23 06:49] reviewher commented on #402
Duplicate of https://github.com/SheetJS/js-xlsx/issues/403

[2017-03-23 06:49] #402 closed

[2017-03-23 10:19] HannaBabrouskaya commented on #128
@SheetJSDev  +1

[2017-03-23 10:59] garyganyang opened #601 "Is it possible to add image to header?"
Hi guys,
i want to add watermarks to excel,  i found that xlsxwriter(python) can do it easily by setting an image to header like `worksheet.set_header('&C&G', {'image_left': 'logo.jpg','margin': 4})`,
then you can see it in “Page View/Layout” mode by setting pageView like `worksheet.set_page_view()`.

can this exceljs do the same thing? im longing for that, , many thanks in advance.

[2017-03-23 16:14] SheetJSDev commented on #601
At the moment neither images nor headers are supported, but we've added that to the queue of topics to address.

[2017-03-23 16:52] SheetJSDev commented on #547
@Mani2693 The following systemjs config appears to work:

[code]

The `fs` and `crypto` really should be suppressed but it was not obvious how to suppress node modules in systemjs.  We will be adding a systemjs demo shortly

[2017-03-23 17:12] SheetJSDev commented on #447
@channara we are adding an angular demo based on https://github.com/brexis/angular-js-xlsx -- please test and let us know if there are any issues

[2017-03-23 17:13] SheetJSDev commented on #453
The current recommendation is to use the minified files in the dist directory.  We will be adding a demo shortly

[2017-03-23 17:14] SheetJSDev commented on #453
@paustint would it be easier to split off the definitions to something outside the module?  I think there are DT defs but I cannot speak to the quality

[2017-03-23 17:15] #447 closed

[2017-03-23 17:15] #453 closed

[2017-03-23 17:15] #538 closed

[2017-03-23 17:15] #547 closed

[2017-03-23 17:16] SheetJSDev commented on #538
We have included an angular JS sample based on https://github.com/brexis/angular-js-xlsx -- please test and let us know if you have any issues

[2017-03-23 17:44] #528 closed

[2017-03-23 17:46] reviewher commented on #443
@lakhorerakesh @miguelschwindt please try the code and let us know if it works.  If you are still having problems feel free to reopen or comment here

[2017-03-23 17:46] #443 closed

[2017-03-23 17:49] reviewher commented on #523
We have made changes to the `require` usage and other patterns, please test and let us know if you have any issues

[2017-03-23 17:49] #523 closed

[2017-03-23 18:33] EEaglehouse opened #602 "sheet_to_json() returns a sparse array"
This is a request to add an option to indicate that the worksheet should be completely translated into an array, creating all rows instead of ignoring some.

If the original worksheet file has empty rows, it is stored with no references to the missing data. `sheet_to_json()` will faithfully convert the sheet to an array, omitting any rows that are empty. The resulting array cannot be used to build

[2017-03-23 18:53] SheetJSDev commented on #602
We will document `__rowNum__` behavior (it is official) and will add tests.  In addition, we will add a new option `blankrows` to both `sheet_to_json` and `sheet_to_csv`.  The behavior will be as follows:

- `sheet_to_csv` will default to generating every row.  If `blankrows` is explicitly false, rows with no content will not be generated.

- `sheet_to_json` when `header` is not set to 1 will defa

[2017-03-23 19:33] firas3d opened #603 "using js-xlsx inside adobe extendscript"
Is it possible to include the js-xlsx library and scripts inside adobe JavaScript environment ?
Can i include js-xlsx in a non web application ?

Need an advise for resources on this topic.
Thank you all for keeping this place active.

[2017-03-23 19:52] reviewher commented on #603
@firas3d if it is a standard JS runtime, you should be able to add the [`shim.js`](https://github.com/SheetJS/js-xlsx/blob/master/shim.js) and [`dist/xlsx.core.min.js`](https://github.com/SheetJS/js-xlsx/blob/master/dist/xlsx.core.min.js)  and it should just work.  The library works in IE6, so I assume it'll work elsewhere.

If you need international support (like Chinese/Japanese/Korean character

[2017-03-23 20:07] firas3d commented on #603
Thanks @reviewher, will do my best tonight to load the shim.js and xlsx.core.min.js
Which funtion/method can i use that permits to read a cell or a range ?

If we access xlsx inside adobe extedscript, then that would be awesome achievement to all adobe workflow. (Currently all adobe tools developers are converting tables to text files, but you can imagine how its unfriendly for data visualizations

[2017-03-23 20:18] reviewher commented on #603
You need to somehow "get the file" then "read it".

https://github.com/SheetJS/js-xlsx#parsing-workbooks has some examples.  I'm not sure how extend script works but they probably some function to read a file into a string or array.  Once you have that, you can call `XLSX.read` and it will give you a workbook object.  Options are described in https://github.com/SheetJS/js-xlsx#parsing-options .  T

[2017-03-23 21:03] firas3d commented on #603
I am facing errors in lines scripts format, for example "expected: ;"
The xlsx.core.min.js has no new-lines, all code is one block of text :( thats make it difficult to read.

thanks.

[2017-03-23 21:07] SheetJSDev commented on #603
Hello @firas3d !  Thanks for looking into this!

For development purposes, include the following files in order:

- [`shim.js`](https://github.com/SheetJS/js-xlsx/blob/master/shim.js)

- [`jszip.js`](https://github.com/SheetJS/js-xlsx/blob/master/jszip.js)

- [`xlsx.flow.js`](https://github.com/SheetJS/js-xlsx/blob/master/xlsx.flow.js)

They are all unminified so you should have a useful line numb

[2017-03-23 22:22] firas3d commented on #603
Appreciate the help from a more experienced developer.
I couldnt include the js files without getting strange errors.

Can anyone help by downloading the adobe extendedscript and
[code]

http://www.adobe.com/mena_en/products/extendscript-toolkit.html

Big thanks,
Firas.

[2017-03-23 23:25] SheetJSDev commented on #603
There were a few issues with the shims assuming that `self` existed, as well as a strange regexp bug (apparently you can't start a regular expression literal with `=`).  I made the requisite changes to `shim.js` and `jszip.js` here: https://gist.github.com/SheetJSDev/449989cd7b47b5c5d8a8a2d829b368c0

The ExtendScript I tested was:

[code]

and it appeared to work:

<img width="380" alt="screen sho

[2017-03-24 03:12] firas3d commented on #603
Big thanks @SheetJSDev , an error  xlsx.flow.js  when calling
`XLSX.readFile('test.xlsx'); `

[code]

![image](https://cloud.githubusercontent.com/assets/17760039/24279041/e3e797f2-1060-11e7-89ef-6e4fc7574b3a.png)

Appreciate 👍

[2017-03-24 04:19] SheetJSDev commented on #603
<img width="354" alt="screen shot 2017-03-24 at 00 14 29" src="https://cloud.githubusercontent.com/assets/6070939/24280471/3b8530b2-1027-11e7-9e61-41f3f5c99274.png">

Updated the jszip script, new file at https://gist.github.com/SheetJSDev/5573c7c02c47421b17185a73dc5497f6 -- long story short, none of the usual global suspects (global, window, self) are available, so you have to poke a hole in `app

[2017-03-24 06:31] firas3d commented on #603
not working on my side yet,
i guess my xlsx.flow.js is different than yours.

![image](https://cloud.githubusercontent.com/assets/17760039/24283046/bf0ecf42-107c-11e7-8323-0a6be2041d27.png)

Can you zip the  3 files ? shim.js, jszip.js and xlsx.flow.js

[2017-03-24 06:42] SheetJSDev commented on #603
[extend.zip](https://github.com/SheetJS/js-xlsx/files/867071/extend.zip)

for good measure I also included the test file I was using and the test.jsx file.

I can actually reproduce that error, it's most likely coming because extendscript is looking in the wrong directory.  To test this, in the javascript console run `Folder.current`.  If it doesn't show the directory where sheetjs.xlsx resides, e

[2017-03-24 06:49] firas3d commented on #603
yes, reopened extendscript, and all works fine.
again, appreciate your help.
I wonder when you do sleep?

[2017-03-24 06:53] SheetJSDev commented on #603
If you find any other issues, let us know. Going to close this issue and take a nap :)

[2017-03-24 06:53] #603 closed

[2017-03-24 09:14] vins13pattar commented on #139
sheet_to_json() with header option true yields empty column headers perfectly, But there is a bug and it won't echo null for last empty column data.  In attached screenshot, there are 11 header items. 2nd column is empty and it's coming null as expected. But it's not echoing null for 11th column which is last one.

![image](https://cloud.githubusercontent.com/assets/333259/24287386/7e416772-109f-1

[2017-03-24 12:59] SheetJSDev commented on #139
@vins13pattar do you have a file you can share? It should not be generating null in the first place -- those should be array holes (undefined)

I made a sample file to check what's going on: [t139.xlsx](https://github.com/SheetJS/js-xlsx/files/867886/t139.xlsx)

And this is what I see in node:

[code]

[2017-03-24 15:12] EEaglehouse commented on #602
That's super! Thank you so much for the quick response! I'm very pleased with the news.

[2017-03-24 17:14] vins13pattar commented on #139
@SheetJSDev Thank you for the reply.
In the test file [t139](https://github.com/SheetJS/js-xlsx/files/867886/t139.xlsx) 'required-skills' is empty and it is generate data as

`  [ 'Stop1', , , , , , , , , , '206' ] `

Array holes is ok. But how do represent array hole after last column?
Like this?

`  [ 'Stop1', , , , , , , , , , '206', ] `

I faced this issue because I was parsing content without

[2017-03-24 17:22] firas3d commented on #603
small issu when connecting target application.
All works fine if target is **ExtendScript Toolkit CC**

But if it is changed to  Adobe Illustrator for example, or adding  `#target illustrator` line, the error
Error : jszip does not have a constructor
inside xlsx.flow.js

[code]
![image](https://cloud.githubusercontent.com/assets/17760039/24305864/e8651d14-10d7-11e7-8af6-d02121ac49ae.png)

[2017-03-24 19:21] SheetJSDev commented on #603
So I downloaded a trial of Illustrator CC 2017 for OSX and I can't reproduce.  It also works if i remove the `target` line and use Photoshop CC 2017.

Are you on windows or mac? Also, can you add the line `alert(JSZip)` right after the `var JSZip = app.JSZip;` and see that it is being loaded?

[2017-03-24 19:48] SheetJSDev commented on #574
@nagistaja what does this do that the existing `XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], {header:1})` doesn't do?

[2017-03-24 19:48] #574 closed

[2017-03-25 01:33] SheetJSDev commented on #531
We changed how dates are handled in `0.9.5`:  Passing `cellDates:true` to the `readFile` function will generate raw dates when the format is a date, and passing `raw:true` will ensure that you get a real date object.

[2017-03-25 01:33] #531 closed

[2017-03-25 01:38] #171 closed

[2017-03-25 01:38] #314 closed

[2017-03-25 01:38] #396 closed

[2017-03-25 01:38] #602 closed

[2017-03-25 02:13] leodutra commented on #531
Well done and thanks. This is very straightforward.

[2017-03-25 03:12] reviewher commented on #163
`XLSX.utils.aoa_to_sheet` will take your array and produce a worksheet object, then you can lift it to a workbook:

[code]

[2017-03-25 03:12] #163 closed

[2017-03-25 03:34] reviewher commented on #235
I think you were looking for `sheet_to_json` as explained by @SheetJSDev.  If you can present an example file with your expected input and output, we can whip up a special function

[2017-03-25 03:34] #235 closed

[2017-03-25 03:34] superkang18 opened #604 "Strange behavior: parse buffer works for small file, not a same file with 2000 more rows data."
hi,  I am struggling with a very basic excel file. It worked for a small file (2 lines of data on "positions" tab), then it stops working after i added 2000 lines of data rows. I use connect-busboy to parse the uploaded file and get the buffer array, then use the xlsx.read(data) to read the buffer. I attached below code of getting the file stream using busboy and then tries to parse it. Can you pl

[2017-03-25 03:36] reviewher commented on #229
If you can give an example input file I'm sure someone can whip up a special parse function for you :)

[2017-03-25 03:36] #229 closed

[2017-03-25 03:44] SheetJSDev commented on #604
@superkang18 I'm not familiar with `busboy`, but can you try writing `data` to a file in your `getExcelData` function and seeing if you can open it with Excel?  If this works for small files but not for larger files you may need to do some sort of buffering to grab the entire file.

[2017-03-25 03:49] reviewher commented on #193
It's most likely the case that you are reading the formatted data.  To get the raw data, look at the

[2017-03-25 03:50] reviewher commented on #193
It's most likely the case that you are reading the formatted data.  To get the raw data, look at the `v` property of the cells.  The `XLSX.utils.sheet_to_json` converter takes an options argument, and setting `raw:true` will give you the original values.

Feel free to reopen the issue @nottinhill

[2017-03-25 03:50] #193 closed

[2017-03-25 03:52] reviewher commented on #252
As @harbhub pointed out, the standard `XLSX.read` and `XLSX.readFile` functions will read every worksheet by default.  The names are available in the workbook's `SheetNames` property and the actual sheet objects are in the `Sheets` object.

[2017-03-25 03:52] #252 closed

[2017-03-25 03:56] superkang18 commented on #604
thanks, @SheetJSDev , will take a look from that side.

[2017-03-25 03:58] reviewher commented on #474
@jxcheng008 if you can share a file we'd love to take a look!  Feel free to reopen the issue at your convenience

[2017-03-25 03:58] #474 closed

[2017-03-25 03:59] reviewher commented on #429
@rulehial @dheerajreddy1 we changed the function and this issue should be resolved.  Please test against the latest version and let us know if you have any problems

[2017-03-25 03:59] #429 closed

[2017-03-25 04:03] reviewher commented on #391
@karaxuna if you want to override a specific format, you can make your own:

[code]

Test this out and please reopen the issue if you have any problems

[2017-03-25 04:03] #391 closed

[2017-03-25 04:11] reviewher commented on #380
Without seeing the `test.xlsx` file it's hard to say what's going on.  Please update to the latest version and test again.  If the problem persists, reopen when you get a chance and attach a sample file so we can take a look

[2017-03-25 04:11] #380 closed

[2017-03-25 04:35] superkang18 commented on #604
I found the issue, it's nothing to do with xlsx. I need to concatenate the buffer before passing into "read" function. thanks.

[2017-03-25 04:35] #604 closed

[2017-03-25 04:42] reviewher commented on #456
@ignacio-chiazzo @shikelong can you share an offending file?  Also, can you check if the issue occurs in IE10/11?

[2017-03-25 04:51] reviewher commented on #448
In your process_wb function you make the changes.  If you can describe what you want to change, we can give some guidance.  The format is described in the README

[2017-03-25 04:51] #448 closed

[2017-03-25 04:53] reviewher commented on #405
@jeffreytu  If you can share an example file, please share and reopen the issue.  There are many reasons why the original file would fail but reserving as XLSX would work.  Many writers in the wild do strange things :(

[2017-03-25 04:53] #405 closed

[2017-03-25 04:57] SheetJSDev commented on #376
We started the process by adding a function [`check_wb`](https://github.com/SheetJS/js-xlsx/blob/master/bits/71_wbcommon.js#L102) that is called at the start of the `write` function.  We will slowly add the recommendations here.  Currently it throws an error, but that can change if you think we should pass errors in a different way

[2017-03-25 04:59] reviewher commented on #325
@nmalancea @shapiromatron I think this is the right fix.  Please comment and reopen the issue if you try the solution proposed by @SheetJSDev and it doesn't work

[2017-03-25 04:59] #325 closed

[2017-03-25 05:11] reviewher commented on #366
@TejasCMehta are you trying to generate the XLSX file in the client or in the server?

[2017-03-25 05:13] reviewher commented on #105
There are packages that do this exact thing, like https://github.com/fabiooshiro/xlsx-calc,

[2017-03-25 06:44] reviewher commented on #371
If you just want to skip the first row, set the option `range:1`.  We've updated the documentation recently to explain this: https://github.com/SheetJS/js-xlsx#json

Here's a simple example:

[code]

[2017-03-25 06:44] #371 closed

[2017-03-25 06:46] reviewher commented on #274
Part of the ambiguity is the fact that different formats handle `Props` differently, we will try to sort out the cross-format parts and update the docs soon

[2017-03-25 06:54] reviewher commented on #475
@ashwinpoosarla It's not hard but you have to decide on the expectations.

For example:

1) do you write the sheet range as if the file started from A1? Or do you keep the original range from the worksheet?

2) what do you do with merge cells that start before the block but end in the block? Do you rewrite the merge range?

Note: You still have to scan from the beginning to cover cases like merge

[2017-03-25 11:06] firas3d commented on #603
alert(JSZip);
![image](https://cloud.githubusercontent.com/assets/17760039/24321699/7c74e068-116c-11e7-9d13-572de4973beb.png)

working on windows10

[2017-03-25 14:06] SheetJSDev commented on #603
@firas3d just to be sure: if you take out the line `#target illustrator` but manually change the target app to `Adobe Illustrator CC 2017`, do you see the first or second popup?

[2017-03-25 16:12] reviewher commented on #218
I'm not sure exactly what you are asking.  Do you just want the first row? You can get the first row of each worksheet by passing `sheetRows:1` to the read function. If you can provide a simple file and state what you need, then we can figure out how to extract the data.

[2017-03-25 16:12] #218 closed

[2017-03-25 16:16] reviewher commented on #219
This is something outside the purview of js-xlsx.

[2017-03-25 16:16] #219 closed

[2017-03-25 16:18] firas3d commented on #603
same, wither i put the line #target or link it from interface, the problem occur.

from what i understand, the JSZip library doesnt like #target application
but when i run the script from Adobe Illustrator (not from Adobe ExtendScipt toolkit) , it works fine.

[2017-03-25 16:18] reviewher commented on #323
Related: https://github.com/SheetJS/js-xlsx/issues/604 It sounds like you are facing a similar issue.

[2017-03-25 16:18] #323 closed

[2017-03-25 16:24] SheetJSDev commented on #361
@TennisVisuals the overarching problem is that every feature seems to have different representations across the Excel formats.  Take formulae, there are 4 different representations as mentioned in https://github.com/SheetJS/js-xlsx#formulae : "A1-style strings" like the example you gave, "RC-style strings" where the references are RC based rather than A1 based, "BIFF Parsed Formulae" which are a p

[2017-03-25 16:26] reviewher commented on #270
@gregpinero @mazing @Mithgol we improved the README a bit: https://github.com/SheetJS/js-xlsx#json -- can you take a look when you get a chance?

[2017-03-25 16:29] SheetJSDev commented on #321
@simonh1000 this bug is most likely coming from trying to read an HTML file.  Lots of so-called Excel exporters really generate HTML and expect Excel to process it.  We have since added a very rudimentary parser.  Test out the latest version and let us know if it works.

If there are parse errors, the best approach is to catch errors and then decide how to handle the error.

[2017-03-25 16:29] #321 closed

[2017-03-25 18:00] SheetJSDev commented on #33
From the test suite:

**Worksheets**
[code]

**Named Ranges**
[code]

[2017-03-25 18:35] #33 closed

[2017-03-26 17:24] SheetJSDev commented on #603
@firas3d we made some changes to the shim and jszip scripts.  Please update both [`jszip.js`](https://raw.githubusercontent.com/SheetJS/js-xlsx/master/jszip.js) and [`shim.js`])(https://raw.githubusercontent.com/SheetJS/js-xlsx/master/shim.js).  We included a new test.jsx in the [extendscript demo directory](https://github.com/sheetjs/js-xlsx/tree/master/demos/extendscript)

[2017-03-26 20:48] firas3d commented on #603
super, will test it,
The **_#target app_** problem was showing on one machine only, so i guess all good.

[2017-03-27 06:33] ylbweb opened #605 "insert some cell comments when we write a XLSX file"
Is it possible to insert some cell comments when we write a XLSX file with js-xlsx ? When I read a file containing some cell comments, they appear when I read the file:

undefined

[ { a: 'StÃ©phane Laurent',
    t: 'Stéphane Laurent:\r\nhello',
    r: '<r><rPr><b/><sz val="9"/><color indexed="81"/><rFont val="Tahoma"/><charset val="1"/></rPr><
t>StÃ©phane Laurent:</t></r><r><rPr><sz val="9"/><col

[2017-03-27 07:09] SheetJSDev commented on #605
@ylbweb You can read comments from XLSX but currently cannot write comments.  Comment write support is in the roadmap.  The main hurdle is settling on the representation of the comments -- the individual formats (XLS, XLSX, XLSB, XLML, ODS) store comments in different ways and we do not yet convert the comments to the same form.

If you just need XLSX write support and you have some time, you can

[2017-03-27 08:34] sheeeeep commented on #591
Thanks.
After save to XLSX, still no  ['!cols'] in my worksheet.
![image](https://cloud.githubusercontent.com/assets/16912701/24347445/f0fd565a-130a-11e7-9b69-ecf1b45ce4d5.png)

[2017-03-27 14:24] SheetJSDev commented on #591
@sheeeeep can you change the read line to:

[code]

[2017-03-27 15:47] filipeamorim commented on #355
@SheetJSDev in my case, it was due encryption.

The content of the xlsx is
![image](https://cloud.githubusercontent.com/assets/7718612/24365163/e6fb5c0e-130c-11e7-865a-556594751b3b.png)

I have the same problem in  http://oss.sheetjs.com/js-xlsx/

[2017-03-27 15:49] SheetJSDev commented on #355
Thanks for following up @amorimfilip we will update when we have address encryption

[2017-03-27 21:28] johnothetree commented on #578
I'm finding the same issue, it doesn't write the information to the existing workbook, but makes a new one (and with my experience, the xlsm ends up being corrupted)

[2017-03-27 21:32] SheetJSDev commented on #578
The code in @mca22120 is making a new workbook.  Read/modify/write workflow is limited to the features that we can read and can write (like values, formulae, merge cells).  If you want to read and change values, you have to read the file first (e.g. `XLSX.readFile`) and tinker with that object before saving.

[2017-03-27 21:45] SheetJSDev commented on #292
We pushed a change that now reads the underlying chartsheet data as worksheets with a special flag `!type` set to `"charts"`.  It should resolve the aforementioned issue, but we also need to support dialogsheet and macrosheet (Excel 4 Macros), so will keep issue open

[2017-03-27 21:48] johnothetree opened #606 "Creating an xlsm from an existing xlsm loses macros"
I'm attempting to modify an existing xlsm file using SheetJS and running into this issue. After reading in the information, making my changes, and then writing it back out, it doesn't keep the macros on the new file that's created. Is there a way to copy the macros from the original xlsm to the new xlsm file?

[2017-03-27 22:16] SheetJSDev commented on #606
@johnothetree the current version does not round-trip macros, but fortunately this is really easy to fix!  Feel free to make the change and submit a PR:

1) in the bits/30_ctypes.js file, after the line `f3('themes')` add a line `f3('vba')`.  This tells the writer to include an entry in `[Content_Types].xml`

2) in the file bits/86_writezip.js add the following just before the line `zip.file("[Con

[2017-03-28 03:05] sheeeeep commented on #591
It's ok, thank you very much.

[2017-03-28 04:40] SheetJSDev commented on #184
We are including a phantomjs sample based on @machinewu initial code in the next commit, as this appears to work in `2.1.1`.  Please test and let us know if you have any other issues.

@TechBK please raise a new issue if you are talking about something other than `phantomjs`

[2017-03-28 04:42] #184 closed

[2017-03-28 04:42] #292 closed

[2017-03-28 04:42] #407 closed

[2017-03-28 04:42] #606 closed

[2017-03-28 04:43] SheetJSDev commented on #606
@johnothetree we just pushed the aforementioned changes and they will appear in the next release

[2017-03-28 14:36] johnothetree commented on #606
@SheetJSDev perfect, thanks! any idea when the next release will be? or should i go ahead and manually add the changes locally as it'll be a lil while yet?

[2017-03-28 14:51] SheetJSDev commented on #606
we're aiming for Friday.

[2017-03-28 21:16] jscheid opened #607 "Doesn't compile with Google Closure Compiler anymore"
Hi,

I've been minifying xlsx using Google Closure Compiler for months now, always worked fine. But since upgrading from 0.9.3 to 0.9.6 I'm getting the following error.

[code]

It seems to be caused by this change:

https://github.com/SheetJS/js-xlsx/commit/70c48a74b9efb61b46293ef35f6babe5022e94df#diff-6b0da2a0ba02b003f8c2e16a0e39cbdcR12

The line mentioned in the error message is this one:
https

[2017-03-28 21:25] SheetJSDev commented on #607
Sorry about that! We had to make some changes to the shim to support Adobe products (see https://github.com/SheetJS/js-xlsx/issues/603) and we left the line in.  Removing it does not affect the result in extendscript so we will remove the line in the source and push a new version of the module momentarily.

[2017-03-28 22:05] #607 closed

[2017-03-28 22:05] #195 closed

[2017-03-28 22:20] SheetJSDev commented on #607
@jscheid we just released 0.9.7 with the fix.  There are 14 warnings which are intentional (including currently-disabled functions with the `if(0)` pattern).  To verify on the web interface:

https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520SIMPLE_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%

[2017-03-28 22:25] jscheid commented on #607
I've also just tested with 0.9.7, works perfectly now. That was a really quick turnaround, many thanks!

[2017-03-28 22:44] SheetJSDev commented on #607
@jscheid closure actually revealed a bug in flow/jshint!  We were getting ready to make a release this week anyway :)

https://github.com/jshint/jshint/issues/3116

https://github.com/facebook/flow/issues/3601

[2017-03-28 23:39] SheetJSDev commented on #209
I cannot find a file in the wild to reproduce this issue, nevertheless we will remove the error message and just ignore the field entirely.

[2017-03-29 08:00] mjdb3d opened #608 "How to get data from xlsx as percentage ?"
Is it possible to get data from (xlsx) cell that formatted as percentage ?
I've tried and I got numbers divided by 100.

xlsx file 12.23%
readed data 0.12
Result required 12.23 or 12.23%

thanks in advance.

[2017-03-29 09:57] SheetJSDev commented on #608
Can you share a file?

If you are reading from a file, the formatted text should be in the `w` field of the cell (the `v` field stores the raw numeric value)

[2017-03-29 10:16] mjdb3d commented on #608
[file.xlsx](https://github.com/SheetJS/js-xlsx/files/878626/file.xlsx)

[code]

result:
0.01,0.22,-0,-0,0.25,-0,0.224,0.132,0.1755,0.704,,,,,,,,,,,,,,,,,,,,

[2017-03-29 10:23] SheetJSDev commented on #608
@mjdb3d The extendscript support is relatively new and we haven't stress tested every feature.  Thanks for reporting, we will look into this

[2017-03-29 11:14] mjdb3d commented on #608
@SheetJSDev  you’re welcome.
I hope it will be fixed soon.
Thank you.

[2017-03-29 11:53] SheetJSDev commented on #576
Since we will be needing similar functionality in the future for better processing HTML-as-XLS files, we will be folding the logic into the main library as a utility function `table_to_sheet`.  Stay tuned.

[2017-03-29 13:15] Matas555 opened #609 "Set cell style when creating new .xlsx"
Is it possible to set cell style? if, yes how? When trying to parse it clearly returns it:
`  A1:
   { t: 'n',
     v: 1,
     w: '1',
     s:
      { patternType: 'solid',
        fgColor: { rgb: 'FFFF00' },
        bgColor: { indexed: 64 } } } }
`

But what about setting it?

[2017-03-29 14:22] SheetJSDev commented on #609
Writing styles is currently not supported, and we will be changing the style representation soon.  Stay tuned.

[2017-03-29 19:48] #209 closed

[2017-03-29 19:48] #576 closed

[2017-03-29 20:00] SheetJSDev commented on #64
We set up a gitbook integration: https://sheetjs.gitbooks.io/docs/

[2017-03-29 22:37] roccomuso opened #610 "From json to sheet."
Hi guys,
thanks for the wonderful work on this module.

Some quick questions:
1. How to iterate on the sheet's rows? Right now i'm using the `sheet_to_json` utility...
2. Is there a way to get a sheet from the JSON? Like a `json_to_sheet` utility. To be able to write back the changed xls to the file.

Thanks

[2017-03-29 22:42] reviewher commented on #610
If you pass `header:1` and `raw:true` to `sheet_to_json`, you get an array of arrays of the original values.  You can iterate across those fairly easily.  It's explained in the docs: https://sheetjs.gitbooks.io/docs/#json

To convert the array of arrays back to a worksheet, you can use the `aoa_to_sheet` utility.  It's explained in the docs: https://sheetjs.gitbooks.io/docs/#array-of-arrays-input.

[2017-03-29 22:58] roccomuso commented on #610
Thanks for your reply!
As first thing I'd say, highlight the documentation, I didn't even see that documentation! Is it even linked to the README?

[2017-03-29 23:01] reviewher commented on #610
It's actually all in the readme, the gitbook links are basically re-rendering the README.

https://github.com/SheetJS/js-xlsx#json

https://github.com/SheetJS/js-xlsx#array-of-arrays-input

These are pretty undiscoverable because the README is huge.  I like the gitbook style with the links on the left sidebar

[2017-03-29 23:22] SheetJSDev commented on #561
There's a wildly destructive way to do this:

- convert worksheet to an array of arrays (`sheet_to_json` with `{raw:true, header:1}`)
- manipulate the array of arrays:
-- insert your row by splicing the outer array with a empty row
-- insert your column by iterating through every row
- convert array of arrays back to a worksheet (`aoa_to_sheet`)

The hard part of manipulating the raw object repres

[2017-03-30 00:08] reviewher commented on #251
If you can share a file, please reopen and we can take a look.

[2017-03-30 00:08] #251 closed

[2017-03-30 03:38] SheetJSDev commented on #610
@roccomuso this was as good a time as any to play with the RunKit service.  Here's a little notebook that demonstrates how to change data using the JSON form

[2017-03-30 03:38] #610 closed

[2017-03-30 03:39] SheetJSDev commented on #586
@reidblomquist here's an example: https://runkit.com/sheetjs/58dc6ea1eae8b800146359eb Let us know if that makes any sense

[2017-03-30 09:53] paulck opened #611 "Writing cell size in pixels not working"
Hi all,

if i simply switch the width from wch:20 to wpx:200 (in the columns property), that doesn't work.

[2017-03-30 09:54] AravinthPalanichamy opened #612 "Failed: Cannot read property 'getCell' of undefined"
@SheetJSDev I was just tried to get the cell value from the xlsx. But it always throwing error like this

[code]

Below is my code:
[code]

[2017-03-30 12:31] newkillerbeast2017 opened #613 "Convert workbook itself into json object"
I am getting around with this package. However, I wanted to know if this package can allow a workbook to be converted to json. In my code, I have something like this:
[code]
Now, this will produce a json like:
[code]

Is it possible to get all the sheets dynamically to produce a json? Or something like looping through the sheets and then forming a json like below:
[code]

[2017-03-30 14:16] reviewher commented on #612
You are in the wrong place.  This is the issue tracker for [`xlsx`](https://www.npmjs.com/package/xlsx)

[2017-03-30 14:16] #612 closed

[2017-03-30 14:21] reviewher commented on #613
`workbook.SheetNames` is an array of the sheet names in the order that they appear in the file, so you can try

[code]

Then `o` will be an object like

[code]

[2017-03-30 14:21] #613 closed

[2017-03-30 14:24] reviewher commented on #611
Are you running in node or the browser?  Can you share what the workbook object looks like before writing (`console.log(workbook)`)?

See [`tests/write.js`](https://github.com/SheetJS/js-xlsx/blob/master/tests/write.js#L14) -- it tests both character and pixel specifications

[2017-03-30 15:31] SheetJSDev commented on #611
I started from the write demo that @reviewher referenced, and changed the columns array to

[code]

The worksheet (verify from the console) should have the following col spec:

[code]

Here's the file it generated: [sheetjs.xlsx](https://github.com/SheetJS/js-xlsx/files/882920/sheetjs.xlsx) -- you'll see the D column is 200 px.

Please test and let us know if it works.  If it does not, please reop

[2017-03-30 15:31] #611 closed

[2017-03-30 15:42] roccomuso commented on #610
Btw a `json_to_sheet` utility wouldn't be bad for those who are more familiar with JSON.

[2017-03-30 16:05] mhenris opened #614 "'Buffer is not defined' or 'nodebuffer is not supported by this browser' webpack / angular"
I can't seem to get away from either of these errors.

I'm using webpack and angular.

When I put `node: { Buffer: false }` into my webpack config, I see the `Buffer is not defined` error upon loading my app.

When I take that out, I see the `nodebuffer is not supported by this browser` when trying to utilize the XLSX methods.

I read the other issues mentioning that a buffer shim was being added

[2017-03-30 16:07] SheetJSDev commented on #610
@roccomuso Here's a simple function, we should add a more refined version of this to the library in the next release:

[code]

[2017-03-30 16:18] SheetJSDev commented on #614
In general the `nodebuffer is not supported by this browser` error suggests one of the following happened:

- `XLSX.readFile` or `XLSX.writeFile` in the browser (since there's no equivalent of `fs` in the browser context -- you have to get the data another way, like HTML5 File API, and use `XLSX.read` or `XLSX.write`)
- `XLSX.read` or `XLSX.write` with `type:buffer`

I actually don't see any refer

[2017-03-30 16:34] johnothetree opened #615 "Persisting macros to new xlsm results in Workbook_Open method not working"
After the changes made for issue #606 i am now able to put the macros onto the newly written workbook, but any code in the ThisWorkbook excel object (which holds all methods relating to Workbook-wide code like Workbook_Open to do operations when you open the workbook, or Workbook_SheetChange to detect changes to any sheet in the workbook) no longer works.
From what I'm seeing, the newly-written xl

[2017-03-30 16:50] johnothetree commented on #615
Also, by my local testing, it doesn't make a ThisWorkbook1 object if there is no code in the ThisWorkbook object.

[2017-03-30 16:53] SheetJSDev commented on #615
Thanks for looking into this!  The fix is very easy this time :)

The worksheets and workbook have a properties tag that maps the VBA code names to the sheet names.

If you can tinker with the source, there are two changes:

1) in the function `write_wb_xml`, add a `codeName`:

[code]

If you make just this change, you will see the ThisWorkbook1 stuff is resolved.

2) in the function `write_ws_xml

[2017-03-30 16:57] SheetJSDev commented on #615
GitHub doesn't allow uploading XLSM files :( so you will have to download and rename to XLSM to verify:

Using XLSX 0.9.7 from NPM: [broken.xlsx](https://github.com/SheetJS/js-xlsx/files/883180/broken.xlsx)

Using the patches from the previous comment: [fixed.xlsx](https://github.com/SheetJS/js-xlsx/files/883177/fixed.xlsx)

Please verify that the fixed file works.  We will push the change in the

[2017-03-30 17:07] johnothetree commented on #615
It works! But it seems like Excel doesn't like it. See attached for the dialog boxes that pop up after making the changes you suggested with the code i used at the start of this post.

![xlsmissue1](https://cloud.githubusercontent.com/assets/23673013/24516733/54d95f56-1541-11e7-8788-9334418968f2.PNG)
![xlsmissue2](https://cloud.githubusercontent.com/assets/23673013/24516734/54eb11ba-1541-11e7-8cad

[2017-03-30 17:13] mhenris commented on #614
Webpack: 1.14.0
Angular 1.6.0

I'm using webpack-dev-server to bundle and serve the built file locally and including it in the webpage

[2017-03-30 17:51] amorimfilip commented on #355
@SheetJSDev Forgot to tell you that the file doesn't have any password.  MS Excel opens without asking for a pass.

[2017-03-30 17:55] SheetJSDev commented on #614
@mhenris there were many missing pieces from your zip, and I think some of the files in subdirectories were changed, but after some changes and npm installs I was finally able to get webpack to produce something.

I think a buffer shim is being forced by jsforce:

[code]

We will have to revisit zip soon.

Just out of curiosity, if you take a file and save it as XLS (not XLSX) do you see any error

[2017-03-30 18:02] SheetJSDev commented on #615
Hmm what version of Excel are you using? I just checked the attached "fixed.xlsm" file against Excel 2016 and Excel 2007, both accept the macro and show the testing button:

<img width="189" alt="issue615_xl2007" src="https://cloud.githubusercontent.com/assets/6070939/24518864/4682318e-1551-11e7-805e-d3a0d2063adf.png">

<img width="232" alt="issue615_xl2016" src="https://cloud.githubusercontent.co

[2017-03-30 18:17] johnothetree commented on #615
@SheetJSDev I'm using 2013. the button still shows up appropriately, but those dialog boxes show up on first time opening the newly made workbook

[2017-03-30 18:40] SheetJSDev commented on #615
@johnothetree I still can't reproduce in Excel 2013 :/

- download https://github.com/SheetJS/js-xlsx/files/883177/fixed.xlsx
- open a command prompt window and run:
[code]
- open `fixed.xlsm`

I see a message in the top bar:

<img width="442" alt="issue615_xl2013a" src="https://cloud.githubusercontent.com/assets/6070939/24520323/0282946a-1556-11e7-896f-b2df0709c8de.png">

I click enable editing a

[2017-03-30 18:42] nickfogler opened #616 "Can you define multiple ranges in the utility functions?"
For example: `ws['!ref'] = "D1:E5,B12:D18"`

[2017-03-30 18:44] SheetJSDev commented on #615
For completeness, I included a complete demo in a gist: https://gist.github.com/SheetJSDev/decd392746c23195696efab1c80d66a2

Just download it and follow the README instructions.  On my computer the generated file works in Excel 2013 without the warnings you showed.

[2017-03-30 18:51] johnothetree commented on #615
huh. yeah the gist works fine. maybe i put something in the wrong spot? whatever, looks to work fine! thanks for the help! i'll work with the official release when it's out!

[2017-03-30 18:51] SheetJSDev commented on #616
You can't specify "multiple ranges" because the operations aren't really well-defined on disjoint ranges.  There are two ways to proceed, depending on what you want:

- If you need a unified output, combine the ranges into a larger range that includes the ranges you want to cover.  For example, `D1:E5` and `B2:D18` are subranges of `B1:E18`.

- If you need separate outputs for each range, you can

[2017-03-30 19:59] reviewher commented on #616
@nickfogler like @SheetJSDev said it makes no sense to use disjoint ranges.  Try this to combine the ranges:

[code]

For your example, `combine_ranges("D1:E5,B12:D18")` gives `'B1:E18'`

If you can be more specific regarding what you expect, we can find a way to do it.

[2017-03-30 19:59] #616 closed

[2017-03-30 20:31] nickfogler commented on #616
Thanks for your responses.  In my case, the combined range of B1:E18 is not what I'm looking for.  In the attached excel file, you can see the two different sections of the document I want to parse out.  The expected JSON returned would be:
[code]

[2017-03-30 20:31] nickfogler commented on #616
[WLAC-CurricStrengthening-Film.xlsx](https://github.com/SheetJS/js-xlsx/files/883737/WLAC-CurricStrengthening-Film.xlsx)

[2017-03-30 20:38] nickfogler commented on #616
It sounds like I can use @reviewher's first suggestion to get the individual JSON blobs and then join them.  My follow up question would be this:  The starting row of the second range is variable (based on the number of rows preceding it). Is there a utility in the library that can search the document for a reference value in the sheet which I can use to determine the starting row of a range?

[2017-03-30 20:38] SheetJSDev commented on #616
You want the second approach:

[code]

And output is:

[code]

[2017-03-30 20:45] nickfogler commented on #616
@SheetJSDev Thanks so much!  I think we posted at the same time. Did you see my question above?

[2017-03-30 20:49] SheetJSDev commented on #616
@nickfogler No utility yet, but it's not particularly hard to write.  You can loop across the sheet:

[code]

Also take a look at the sheet_to_csv function: https://github.com/SheetJS/js-xlsx/blob/master/bits/90_utils.js#L165-L171 is the part that walks the sheet and checks every cell.

The README describes the [object model](https://github.com/sheetjs/js-xlsx#workbook--worksheet--cell-object-desc

[2017-03-30 20:50] nickfogler commented on #616
Awesome, thank you!!

[2017-03-30 22:43] mhenris commented on #614
There is no error with .xls file.  Only xlsx.

[2017-03-30 23:06] mhenris commented on #614
Sorry for the missing stuff, here's a more comprehensive zip file with the package.json and other components, but I think you've figured something out related to JSforce.  If I remove it from my list of modules and add the `node: { Buffer: false }` back into webpack.config, then I am able to successfully parse .xlsx files.

[webapp.zip](https://github.com/SheetJS/js-xlsx/files/884009/webapp.zip)

[2017-03-31 00:57] #93 closed

[2017-03-31 00:57] #156 closed

[2017-03-31 00:57] #344 closed

[2017-03-31 00:57] #615 closed

[2017-03-31 01:01] SheetJSDev commented on #156
We've pushed support for XLSX/XLSM/XLSB/XLML.  The BIFF2 format didn't support hyperlinks.  If there is enough interest we'll look into ODS hyperlinks.

[2017-03-31 02:54] SheetJSDev commented on #111
We now save charts as worksheets with a `!type` field set to `"chart"`, but they are saved as regular worksheets.  We are working out the logistics of actually saving chartsheets as chartsheets

[2017-03-31 02:55] SheetJSDev commented on #355
@amorimfilip if you can share a file, we would love to take a look! dev at sheetjs com

[2017-03-31 04:03] #81 closed

[2017-03-31 08:24] deju commented on #285
@geekgugi You helped me. 👍

[2017-03-31 08:53] ayush000 opened #617 "Unsupported file 115|104|105|112"
Hi,

It's an xls file (I think in 97 -2004 format). It's being uploaded and sent to the server and read from file.buffer. Also, uploading it to online demo doesn't give any output.
[abc.xls.zip](https://github.com/SheetJS/js-xlsx/files/885017/abc.xls.zip)

[2017-03-31 12:00] twogood commented on #600
Or make js-xlsx async?

[2017-03-31 14:27] SheetJSDev commented on #617
This is actually a tab-separated-values file (open the file in notepad or vim or your favorite text editor and you will see text).

We're aiming to add csv/txt support soon

[2017-03-31 15:47] SheetJSDev commented on #123
We're going in the opposite direction: including very hidden sheets in the list.  This also lets us put in chartsheets and other features.

[2017-03-31 15:49] SheetJSDev commented on #464
The final resolution is to store the metadata in the workbook's `Workbook.Sheets[n].Hidden` properties.  The value 0 will correspond to visible, while 1 is hidden and 2 is very hidden.  This ensures that !!Workbook.Sheets[n].Hidden will be true for hidden and very hidden sheets

[2017-03-31 18:49] #123 closed

[2017-03-31 18:49] #464 closed

[2017-03-31 18:49] #498 closed

[2017-03-31 21:33] Vercryger opened #618 "XLSX.utils.table_to_book is not a function"
I'm using the [cdnjs version of XLSX](https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.7/jszip.js) and I found the `table_to_book` function isn't even there inside of `XLSX.utils`.

Am I missing something here?

[2017-03-31 21:39] SheetJSDev commented on #618
`table_to_book` was added after the 0.9.7 release.  We are in the middle of testing for 0.9.8 and expect to release within the hour

[2017-03-31 21:40] Vercryger commented on #618
@SheetJSDev Perfect, thanks! 👍

[2017-03-31 22:21] SheetJSDev commented on #618
@Vercryger we pushed 0.9.8 and it's live on NPM and http://oss.sheetjs.com/js-xlsx/ and on unpkg: https://unpkg.com/xlsx@0.9.8/dist/xlsx.core.min.js

I don't know how long it will take for cdnjs to update (and it's not in our control) but hopefully it's in the next few hours.  Until then use unpkg.

[2017-03-31 22:21] #618 closed

[2017-04-01 02:06] SheetJSDev commented on #201
We added `table_to_sheet` and `table_to_book` directly to the library that addresses the colspan/rowspan issue.

innerText is now supported in firefox

The `table_to_book` option takes an options argument, and the second argument's `sheet` key is the name of the worksheet in the workbook.

Usage is described in https://github.com/sheetjs/js-xlsx#html-table-input .  Summary:

[code]

[2017-04-01 02:06] #201 closed

[2017-04-01 02:21] SheetJSDev commented on #129
We are maintaining a [kitchen-sink write script](https://raw.githubusercontent.com/SheetJS/js-xlsx/master/tests/write.js) and slowly adding examples to the README.  We are also using [gitbook](https://sheetjs.gitbooks.io/docs/#xlsx) for a better rendering of the README.

Please take a skim of the README and let us know if it makes enough sense to produce a minimal write example.  If not, let us kn

[2017-04-01 02:21] #129 closed

[2017-04-01 04:21] SheetJSDev commented on #359
You have to write the formula in the "English" style, with English names (e.g. ROUND) and commas to separate arguments.  The correct formula in this case is:

[code]

And this should do the right thing in other languages.

[2017-04-01 04:21] #359 closed

[2017-04-01 05:19] reviewher commented on #270
Closing for now, please follow up with some feedback on the relevant documentation if you get a chance :D

[2017-04-01 05:19] #270 closed

[2017-04-01 07:32] #274 closed

[2017-04-01 10:46] ayush000 commented on #617
Thanks for the information.

[2017-04-01 15:58] roccomuso commented on #586
@SheetJSDev I'm having the same issue with the Dates.. What's the best approach to get back the "date" format and not a number?

[2017-04-01 16:02] SheetJSDev commented on #586
If you are starting from a file, pass the option `cellDates:true`:

[code]

[2017-04-01 16:07] roccomuso commented on #586
@SheetJSDev cool. Now it reads the Date. But when I write back to file i see just the numbers instead of the Dates.

[code]

[2017-04-01 16:15] SheetJSDev commented on #586
aoa_to_sheet also needs the argument:

[code]

The relevant part of the docs is https://sheetjs.gitbooks.io/docs/#array-of-arrays-input -- how should it be changed to explain that behavior?  Currently it says:

I guess it should just say "raw dates" rather than "type d"?

[2017-04-01 16:27] SheetJSDev commented on #614
We will change how node is detected (using `process`) so that should skip the relevant code paths in the browser

[2017-04-01 16:34] roccomuso commented on #586
Thank you!
Yeah "raw dates" would be better.
Btw, I changed the code this way:

[code]

But now the Date columns are blank.
PS. my date format is "mm/gg/yyyy"

[2017-04-01 16:37] SheetJSDev commented on #586
Excel does some weird things with localization.  Can you try with the date format `mm/dd/yyyy`?  Also, if you can share an input file I'd love to take a look

[2017-04-01 16:42] roccomuso commented on #586
@SheetJSDev sorry i made a typo in my previous post, date is already `mm/dd/yyyy`. I'm using a standard XLS file.. Are you able to reproduce the issue?

[2017-04-01 16:51] SheetJSDev commented on #586
Just tried:

[code]

source file: [write.xlsx](https://github.com/SheetJS/js-xlsx/files/887807/write.xlsx)

output file: [writenew.xlsx](https://github.com/SheetJS/js-xlsx/files/887808/writenew.xlsx)

The loss of the original format is expected (since the JSON loses the format info) but setting the format to `mm/dd/yyyy` doesn't result in a blank cell:

<img width="284" alt="writenew" src="https:/

[2017-04-01 19:03] roccomuso commented on #586
Really weird. Still having that issue. Btw I'm using XLS files not XLSX.

[2017-04-01 19:26] SheetJSDev commented on #586
@roccomuso yes I can reproduce with the XLS write, there are two issues:

1) the blank cells are coming from a missing case in https://github.com/SheetJS/js-xlsx/blob/master/bits/78_writebiff.js#L59 .  XLS has no native date cell concept, so it has to be converted back to number.  This fix is easy:

[code]

2) XLS writer is not saving the format table.  That's a bit more involved.  We'll look into

[2017-04-02 06:48] #183 closed

[2017-04-02 06:48] #192 closed

[2017-04-02 06:48] #233 closed

[2017-04-02 06:48] #315 closed

[2017-04-02 06:48] #605 closed

[2017-04-02 06:48] #614 closed

[2017-04-02 06:52] SheetJSDev commented on #183
@ryangallen we pushed the feature to the master branch and it will be in the next version cut (aiming for some time in the next 48 hours or so).

https://sheetjs.gitbooks.io/docs/#cell-comments is the relevant part of the docs (it's also in the README but I like the page with the sidebar).  As we settle on representations we will add more subsections to the README.

[2017-04-02 06:54] SheetJSDev commented on #605
@ylbweb turns out that merely writing the comment xml/bin isn't enough for XLSX/XLSB!  In XLML you can just write the comment and Excel will give a default comment rendering, but in XLSX/XLSB you actually need to set up a VML drawing as well.

We pushed the relevant fix to master and hope to have the next release in the next 48 hours or so

[2017-04-02 16:32] SheetJSDev commented on #260
As a separate function the code would be:

[code]

Would it make more sense to add an `update_sheet_range` that looks at every cell?

[code]

These will be added to the wiki

[2017-04-02 16:32] #260 closed

[2017-04-03 00:16] #376 closed

[2017-04-03 06:12] #489 closed

[2017-04-03 06:12] #617 closed

[2017-04-03 06:13] SheetJSDev commented on #489
We added a first cut in version 0.9.9 and will slowly improve it in future versions

[2017-04-03 06:13] #196 closed

[2017-04-04 10:13] firas3d opened #619 "Negative Percent on cell"
Hello,
The Excel table has a cell with value : -5%
The `XLSX.utils.sheet_to_json` return : -0

Positive value works perfectly,
only Negative value do not.

Is there something i need change in reading?
`var data = XLSX.utils.sheet_to_json(first_worksheet, {header:1});`

![image](https://cloud.githubusercontent.com/assets/17760039/24651942/c0fd2426-1940-11e7-84ea-bc9278c0ad93.png)

The Excel file :

[2017-04-04 14:14] SheetJSDev commented on #619
I think that's an extendscript issue.  You can test against the web demo: http://oss.sheetjs.com/js-xlsx/

I put together a small test file: [pct.xlsx](https://github.com/SheetJS/js-xlsx/files/893381/pct.xlsx) and in the web demo I see:
<img width="110" alt="pct" src="https://cloud.githubusercontent.com/assets/6070939/24661037/3bd83ae0-191f-11e7-83c5-7ef8063c6d36.png">

In any case, we're rewritin

[2017-04-04 15:29] firas3d commented on #619
Thank you,

I am interested in the value, not its (%) format > aim to read **-0.05**
(on positive 80%, it return value **0.8**, which is super usefull)

Is it possible ?
if not, i'll try to find the how the web demo is different than the extendscript.

[2017-04-04 15:33] firas3d commented on #619
Looks like web demo returns the **formatted string**
Extendscript lib, returns correct positive **value**.

[2017-04-04 15:33] SheetJSDev commented on #619
If you pass `{raw:true}` to the sheet_to_json function it should give you the number!

For example, with that pct.xlsx file from earlier:

[code]

[2017-04-04 16:32] roccomuso commented on #586
I saw the 3a310bd commit. When will it be released? :+1:

[2017-04-04 16:35] SheetJSDev commented on #586
@roccomuso it should be in 0.9.9 (the latest version) already.  As mentioned, that is only the first half of the fix (to ensure that the date cells aren't blank).

[2017-04-04 16:37] roccomuso commented on #586
@SheetJSDev alright, what's missing exactly? will the v0.9.9 output the data cells as expected?

[2017-04-04 16:44] SheetJSDev commented on #586
The dates will show up as numbers.  forcing dates isn't particularly hard, but we're trying to rebuild the formatting library before attacking those issues

[2017-04-04 17:32] firas3d commented on #619
SUPER, its working.

[2017-04-04 19:19] reviewher commented on #619
#608 covers the general issue of the formatting in ExtendScript, so I think we're done here

[2017-04-04 19:19] #619 closed

[2017-04-04 19:27] reviewher commented on #577
Suppose you had your data:

[code]

Then the following will generate an XLSM workbook:

[code]

To actually distribute the file, use one of the techniques outlined [in the README](https://github.com/SheetJS/js-xlsx#writing-workbooks).  For example, you can use `writeFile` in node:

[code]

Please follow up if you have any other questions.

[2017-04-04 19:27] #577 closed

[2017-04-04 21:45] dullin opened #620 ""array" type does not support Uint8Array"
I've been having problems using a Uint8Array as data for XLSX.read (using type as 'array').

It's throwing an error when trying to read the signature header of the file. I've checked the array against the signature and everything seemed fined.

I've tracked down the issue to __hexlify which tries to convert the first few bytes into a string but fails to do it correctly.

I have an example of the p

[2017-04-04 22:04] SheetJSDev commented on #620
@dullin So this is a funny issue that boils down to the semantics of typedarray: http://www.ecma-international.org/ecma-262/6.0/#sec-%typedarray%.prototype.map

The `array` mode assumes Array semantics whereby `map` returns an untyped array, but typed arrays return a typed array.  This means you can't do things like map from an array of numbers to an array of strings:

[code]

When working with ty

[2017-04-04 22:31] dullin commented on #620
Wow!

I must admit I'm still new to javascript so didn't know the difference between typed and untyped arrays.

Thank you for the thorough and educational explication!

[2017-04-04 22:38] SheetJSDev commented on #620
@dullin typed arrays are relatively new (IE10+, specced in ES6 but not ES5).  If you are in node you are better off sticking with `Buffer` (and the `"buffer"` type)

[2017-04-05 08:40] mesosteros opened #621 "Input language changing according to browser language"
We are using the library within an angularJS project but we can't seem to implement angular-translate so that we can change the input's language to match what the user has selected as his language.
How can we add the translate filter to the js-xls input (and change the layout for the button to be a bootstrap button for that matter)?
`<js-xls id="batchUpload" onread="readxls" onerror="errorxls" acc

[2017-04-05 08:58] AnupojuVenkatNaveen opened #622 "demo for the angular 4"
Hello Team,

If you can provide the demo for the angular 4 it will be helpful for so many guys.

- this is one of the basic feature for so many sites to upload the data.
- Help the community with your demo

Hoping for the demo for Angular 4 soon :+1:

[2017-04-05 08:58] AnupojuVenkatNaveen commented on #622
@ #

- [ ] [](url)

[2017-04-05 09:00] maheshp212 commented on #622
yes team,

I am also searching for this demo, please help us

[2017-04-05 09:42] #621 closed

[2017-04-05 13:40] targonsr commented on #128
+1

[2017-04-05 14:57] SheetJSDev commented on #621
I'm not familiar with angular-translate -- did you figure out a resolution?

[2017-04-05 17:16] mesosteros commented on #621
Yes @SheetJSDev , had nothing to do with angular. It was the input itself. All I had to do was wrap it in a label, add the `{{ 'keytotranslate' | translate}}` inside it and finally put a display:none in the input itself so it could the appearance of a normal button and the translated text. ;)

[2017-04-05 18:08] SheetJSDev commented on #621
@mesosteros if you can share some code we can add it to the wiki or change the angular demo :D

[2017-04-05 18:52] leonardodelfino commented on #209
I am having the same problem in reading a file, do you have any solution for this case?

[2017-04-05 19:38] SheetJSDev commented on #209
@leonardodelfino can you share a file? The only sort of files we could "find" are ones that we manually created by hex-editing good files, so it would be of interest to see a file

[2017-04-06 11:05] leonardodelfino commented on #209
I am sharing the file with problem, I had to delete some lines because this file has confidential information of a client of mine. However I did some tests and even after editing the file still fails to read.

[Sheet example.xls.zip](https://github.com/SheetJS/js-xlsx/files/902321/Sheet.example.xls.zip)

[2017-04-06 14:33] SheetJSDev commented on #209
@leonardodelfino can you check against http://oss.sheetjs.com/js-xlsx/ (just drag and drop the file there) -- you might be using a older version

[2017-04-06 20:06] jcarvin opened #623 "ws.autoFilter not working"
The docs mention the autoFilter option on a worksheet object. I attempted to enable it, but my worksheets still don't open with autoFilter enabled.

`ws.autoFilter = false`  as well as `ws.autoFilter = true` do nothing.

Does anyone know of a solution?

[2017-04-06 20:15] SheetJSDev commented on #623
https://github.com/sheetjs/js-xlsx#worksheet-object

The `autoFilter` in the docs refer to the sheet protection: "functionality disabled if value is true".  The protection isn't really relevant if the worksheet doesn't have a filter in the first place, but we tried to address all of the relevant protection information in one fell swoop.

We aren't reading or writing the auto filter information, bu

[2017-04-06 20:16] jcarvin commented on #623
ahh, okay. Thank you for the quick feedback!

[2017-04-06 20:36] SheetJSDev commented on #623
@jcarvin if you are feeling adventurous and want to contribute, it's not hard to add it in!

In the `write_ws_xml` function, the actual XML corresponding to auto filters should appear after the sheet protection and before the merge cells, so it would be [in this location](https://github.com/SheetJS/js-xlsx/blob/master/bits/67_wsxml.js#L370)

So if you wanted to hard code something, the simplest ch

[2017-04-06 20:43] jcarvin commented on #623
Oh, wow okay! That's incredibly helpful. I'll do some tinkering with it tomorrow. Thanks again!

[2017-04-07 13:26] pgeeh opened #624 "Unexpected BrtBigName encountered"
Hi,

Ran into an issue where the record type 'BrtBigName' was encountered in

`parse_ws_bin > ws_parse`

It appears that 'BrtBigName' is defined in XLSBRecordEnum and then is mentioned in a comment in 'write_ws_bin', but is not called out in any of the reader's methods. This throws the "Unexpected record" error in the ws_parse function.

It appears that 'BrtBigName' should be added to the list of

[2017-04-07 15:39] SheetJSDev commented on #624
@pgeeh the list in parse_ws_bin is based on records we've seen in the wild.  Clearly we haven't encountered a file with a BrtBigName record! Can you possibly share a file? (if you don't want to make it public, just email us at dev at sheetjs dot com).

We'll make a release later today and try to cover more cases that the spec permits but we haven't seen yet.

[2017-04-07 16:42] pgeeh commented on #624
@SheetJSDev unfortunately, I cannot share my workbook at this time.

https://msdn.microsoft.com/en-us/dd926172

Based on the documentation above, BrtBigName could be in the sequence of a Worksheet. It appears that is already noted in a comment in the write function 'write_ws_bin'.

[2017-04-07 18:14] jcarvin commented on #623
I ended up hard coding the autoFilters in as you suggested. Worked like a charm. I am, however, wondering if there is a way to make a similar change that will freeze the top row. Looking into that now. If you have any suggestions, I would be grateful.

[2017-04-07 18:26] SheetJSDev commented on #623
The freeze options are set in the pane tag within the sheet views.  In the XML it will appear right after the dimension tag, so https://github.com/SheetJS/js-xlsx/blob/master/bits/67_wsxml.js#L356 is probably the right place.  I think something like this should take a parameter `!freezerow` in the worksheet: (warning: untested)

[code]

It might be necessary to add a selection within the sheetview

[2017-04-07 18:32] jcarvin commented on #623
Thank you so much.... I'll take some shots at that, asap.

[2017-04-07 18:51] SheetJSDev commented on #623
In general, to figure out what's going on, you should:

1) generate a file with the feature you want, save it, and inspect the XML to see what needs to be added.  What I like to do is create a sample file without the feature, save it to one file, then add the feature and save to a second file.  That way, comparing the XML lets me see what changed.

2) search for the relevant tag in [the spec](http

[2017-04-08 06:57] #34 closed

[2017-04-08 06:57] #624 closed

[2017-04-08 07:00] SheetJSDev commented on #34
@schleumer we didn't flip the default, but if you pass `dense:true` as an option to the various read functions (`XLSX.read`, `XLSX.readFile`, or any of the utilities that generate a worksheet or workbook) the generated worksheets are arrays.  The writers and various utils have been updated to handle both types of worksheets.  We were surprised by the performance difference but are hesitant to chan

[2017-04-09 07:16] SheetJSDev commented on #589
@simon-p-r starting from a fresh windows setup we were able to build the source and run the tests!

https://github.com/sheetjs/js-xlsx#windows is the relevant part of the documentation.

Configuration Steps:

1) `git clone https://github.com/SheetJS/js-xlsx/`
2) download the test files snapshot https://github.com/SheetJS/test_files/releases/download/20170409/test_files.zip
3) extract that to the t

[2017-04-09 07:20] simon-p-r commented on #589
I will have a go and let you know if there are any problems

[2017-04-10 05:20] SheetJSDev commented on #478
We're pushing a change to add autofilter metadata in the worksheet `!autofilter` key.  For now it just supports a reference, but later we will add more.

usage:

[code]

[2017-04-10 05:21] SheetJSDev commented on #472
We're attaching the autofilter range as the `ref` key of the `'!autofilter'` key of each worksheet.  In future commits we will add more features, but for now basic autofilters can be passed with:

We're pushing a change to add autofilter metadata in the worksheet `!autofilter` key.  For now it just supports a reference, but later we will add more.

[code]

[2017-04-10 05:21] #472 closed

[2017-04-10 05:21] #478 closed

[2017-04-10 16:19] SheetJSDev commented on #537
We're thinking of adding something like this to the utilities:

[code]

For now it is in the wiki: https://github.com/SheetJS/js-xlsx/wiki/General-Utility-Functions#adding-a-cell-to-a-range

[2017-04-10 16:19] #537 closed

[2017-04-11 09:03] magician11 opened #625 "How do I read a Base64 Url encoded string to excel?"
I'm getting a xlsx attachment using the Gmail API https://developers.google.com/gmail/api/v1/reference/users/messages/attachments#resource

It returns it as a "The body data of a MIME message part as a base64url encoded string."

I'm not sure how to read it?

`XLSX.read(attachment, {type: 'base64'});`

I get

How I do read this? Ultimately I want to convert that base64 format from Gmail to a JSON

[2017-04-11 12:57] SheetJSDev commented on #625
@magician11 the linked doc suggests the encoding is base64url:

Can you try:

[code]

[2017-04-11 15:47] inerc opened #626 "Guys all hello, tell me please, how can I add a VBA script to the xlsx file?"
I was able to create a file, but before creating it, I need to create and put a file VBA module. How can I do it?

`  function createXLSM(data, user_id) {
        /* require XLSX */

        function datenum(v, date1904) {
            if(date1904) v+=1462;
            var epoch = Date.parse(v);
            return (epoch - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000);
        }

[2017-04-11 16:10] inerc commented on #626
`  function createXLSM(data, user_id) {
        /* require XLSX */

        function datenum(v, date1904) {
            if(date1904) v+=1462;
            var epoch = Date.parse(v);
            return (epoch - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000);
        }

        function sheet_from_array_of_arrays(data, opts) {
            var ws = {};
            var range = {s: {c:1000000

[2017-04-11 17:25] SheetJSDev commented on #626
If you have an existing file with a pre-built VBA module, you can add it to the file by setting the `vbaraw` field to the contents of the container.  The easiest way to do this is to read a file with `bookVBA:true` in the options, then copy the vbaraw entry to your new workbook.

For example, in node:

[code]

Note: You have to use xlsm or xlsb file extension -- XLSX does not support VBA.

We don'

[2017-04-11 18:51] InstanceOfMichael commented on #608
This seems to be part of a larger problem (with apparently all excel readers) where the type information is available (I've read the source code), but for some unknown reason the data is abstracted away from the end-user and ignored for output. For example, for this spreadsheet in xlsx:
[code]
I'm expecting one of these 2 outputs from `sheet_to_json`:
[code]

The actual result is:
[code]

This als

[2017-04-11 19:03] SheetJSDev commented on #608
@InstanceOfMichael can you share a file?  I just threw together a sample file:

[608.xlsx](https://github.com/SheetJS/js-xlsx/files/914378/608.xlsx)

The CSV and JSON does exactly what's expected.  This is from http://oss.sheetjs.com/js-xlsx/ (just drag and drop into the box):

<img width="137" alt="screen shot 2017-04-11 at 14 55 15" src="https://cloud.githubusercontent.com/assets/6070939/2492565

[2017-04-11 20:54] InstanceOfMichael commented on #608
using `{ raw: false }`, I am now getting this from my imaginary spreadsheet:
[code]
Which is good enough for my purposes. Thank you!

[2017-04-11 21:00] SheetJSDev commented on #608
That still looks wrong.  Can you share the worksheet object (`JSON.stringify(worksheet)`)? If the cell has formatted text (the cell object for `40` has a `w` key with value `"$40 "`) you should see the same text value in the output.

[2017-04-11 21:42] InstanceOfMichael commented on #608
https://gist.github.com/InstanceOfMichael/220f5eb3b74ff3770c4d309ccf8be16f

[2017-04-11 22:15] SheetJSDev commented on #608
@InstanceOfMichael thanks for sharing! I can reproduce, it's a bug in the number formatter.

At a high level, Excel doesn't distinguish between "currency" and "percent" and "date" and other cell types.  There is a number cell type, and the number format dictates the interpretation.

If you want to see the number format, you can set `cellNF:true` in the options object.  Then every cell will have a

[2017-04-11 22:16] #599 closed

[2017-04-11 22:40] SheetJSDev commented on #197
@jmorrisIII we just pushed a change to support reading defined names for XLS

[2017-04-11 22:40] #197 closed

[2017-04-12 01:21] magician11 commented on #625
Ah ok. Convert it to Base64 from base64url.

I tried your code and got

I think we also need to pad the end of the string with '=' a few times.

Something like

`var workbook = XLSX.read(attachment.replace(/\//g, "_").replace(/\+/g, "-").concat('=', (4 - ( attachment.length % 4 ))), {type:'base64'})`

?

Unfortunately I got the same error message as above.

I've been looking around for libraries f

[2017-04-12 01:25] SheetJSDev commented on #625
@magician11 I haven't tested anything yet.  Can you try the other direction?

[code]

It's really confusing because there are multiple base64 standards https://en.wikipedia.org/wiki/Base64#Variants_summary_table

[2017-04-12 01:38] magician11 commented on #625
That worked!

Thank you :)

[2017-04-12 01:42] SheetJSDev commented on #625
@magician11 added a note to the wiki: https://github.com/SheetJS/js-xlsx/wiki/Browser-Errors#gmail-api-typeerror-fsubstr-is-not-a-function feel free to embellish or add any other feedback

[2017-04-12 01:42] #625 closed

[2017-04-12 07:29] tanwanimanisha commented on #92
@longweiquan @SheetJSDev  @clayzermk1  Can anyone please help me with the syntax to write merge cells on my javascript for worksheet object?

[2017-04-12 10:18] alejandrofernandezcanton opened #627 "lock column exported"
Hello,  i would like to know if i can lock a column when i export from uiGrid to xlsx.

Thanks!

[2017-04-13 07:53] SheetJSDev commented on #511
There are two types of "workbook protection": "encrypt with password" and "protect workbook structure":

<img width="249" alt="protect" src="https://cloud.githubusercontent.com/assets/6070939/24995264/3d502ade-1ffc-11e7-819f-0401c104536f.png">

The latter merely adds a record to the file that disables normal editing, but otherwise leaves the file as-is.  It's a pretty simple feature and we can rea

[2017-04-13 08:02] SheetJSDev commented on #457
The protect worksheet options are exposed in the worksheet `!protect` key, as explained in https://github.com/sheetjs/js-xlsx#worksheet-object .

The protect workbook option is not currently read or saved.  However, if you are feeling adventurous, it's not difficult to add in!

The workbook protection info is stored in a workbookProtection tag.  On the write side, it should be placed [in the posit

[2017-04-13 08:04] SheetJSDev commented on #445
@Ramzec if you still have the original file, can you test against the latest version?  We've reworked how stub cells work and you should not encounter that issue.

[2017-04-13 08:06] SheetJSDev commented on #136
This is a client-side rendering issue.  The files themselves don't store this metadata so there's nothing we can do from the library.

[2017-04-13 08:06] #136 closed

[2017-04-13 08:12] negberts opened #628 "Unreachable code"
I'm trying to get my Angular2 rollup build working but it fails on the ReadShift function on the default case because of unreachable code:

[code]

Because both the if and else of case 4 return a value, the break is never reached.

[2017-04-13 08:22] negberts commented on #622
There is an example here: https://github.com/florianschwanz/xlsx-drop-parse-demo

[2017-04-13 15:15] SheetJSDev commented on #628
You are correct in deducing that the break is unreachable.  It exists because of a linter bug: https://github.com/jshint/jshint/issues/3108

If you submit a PR that removes it and similar unreachable break statements, we'll accept it.

[2017-04-13 15:17] SheetJSDev commented on #622
@negberts please add your link to https://github.com/SheetJS/js-xlsx/wiki/Examples with a short comment (e.g. what version of angular, what directive etc)

[2017-04-13 16:46] laurenmbeatty commented on #570
SheetJS doesn't support exporting of images.  However, this branch of the project does:  https://github.com/mgreter/js-xlsx

[2017-04-13 20:57] SheetJSDev commented on #61
We've started addressing the general performance problem in node:

- internally, instead of the address keys, worksheets are built up as arrays of arrays of cell objects.  This behavior is controlled with the undocumented `dense` option.  The read and write utilities know how to handle both types of worksheets, so if you are just translating formats you can enable it in your read interface, but ra

[2017-04-14 00:21] SheetJSDev commented on #463
All of the utilities respect the `!ref` key as the range of the worksheet.  You can directly manipulate it to control the sheet range.

For example, to skip the first row of a worksheet:

[code]

This range is respected by the various utility functions and exporters, as they all decode and work with the reported range.

Here's a live example: https://runkit.com/sheetjs/58f0158b09f0c50012171569

[2017-04-14 00:21] #463 closed

[2017-04-14 05:46] negberts commented on #622
Done! It's not my example, but we used it as a base for our needs.

[2017-04-14 05:48] negberts commented on #628
I've created a gulp task to replace the break statement during build, so for now I'm fine. Removing the break statement would apparantly reintroduce the jshint bug.

[2017-04-14 05:52] SheetJSDev commented on #628
It's pretty silly to add an unreachable statement just to satisfy the linter, and hopefully they will fix it at some point.  Are there any other weird cases you have to work around that we can fix?  As stated earlier, we'll accept a PR that removes that break statement.

[2017-04-14 05:54] negberts commented on #628
No, that was the only one :) I will look into creating a PR. Have not done it on Github before :)

[2017-04-14 15:34] janvanderhaegen opened #630 "Is it possible to filter out "hidden" rows?"
We're using SheetJS to import data.
When a workbook is parsed, every cell is included. However, our users seem to have two scenarios where they wanted to exclude data
*  They hide the entire row (right-click on row, click "Hide")
*  They have a table with headers, and have filtered on specific values

In either or both of the cases above, when they open the workbook in excel they'll see only the f

[2017-04-14 21:55] gregpinero opened #631 "How to catch Unsupported file Errors?"
Is there a way I can catch the Unsupported file 105 error (or all unsupported file errors) so I can display a message to the user?

[2017-04-14 22:03] gregpinero commented on #631
Nevermind, it's just normal error handling:
[code]

[2017-04-14 22:03] #631 closed

[2017-04-14 22:08] SheetJSDev commented on #631
`105` is the letter `i` suggesting you may have a CSV or TXT file.  Based on the error message I'm guessing you are using an older version (newer versions peek at the first 4 bytes so you get an error message like `Unsupported file 115|104|105|112` ) We've added some plaintext format processing so try using the latest version.

[2017-04-14 22:17] SheetJSDev commented on #630
We added autofilter information to the repo but haven't released it yet.  The other details aren't currently exposed.  Stay tuned.

[2017-04-16 04:57] #628 closed

[2017-04-16 08:36] firas3d opened #632 "reading xlsx progress bar"
First, cannot thank you enough for all the efforts.

I am using js-xlsx to read the excel file with multiple sheets inside Adobe ExtendScript, and have a small request:

Reading the xlsx is taking 10 to 20 seconds, and would be great if i can get a feedback percent,
so I map it to a progress bar inside the UI.

Currently, **reading xlsx freezes** the application till it finishes.

![image](https:/

[2017-04-16 08:50] SheetJSDev commented on #632
The web browsers have a neat feature called Web Workers that let you run tasks in the background without blocking the UI.  That's what http://oss.sheetjs.com/ and http://oss.sheetjs.com/js-xlsx use to ensure the frontend doesn't just stop.  There may be a way to do something similar in extendscript.

As for evented read, the major hurdle is the file format.  XLSX uses ZIP files and you have to rea

[2017-04-16 09:00] firas3d commented on #632
The freezing till finish reading is acceptable, as long as we have visual feedback (like progress bar)
Maybe jszip.js can send a progress?

[2017-04-16 21:53] Mwaiwathu commented on #35
I have a similar issue but with parsing docx... Passing the same path by one method ie a string creates the error whilst using another drag drop API  works weird

[2017-04-16 22:09] SheetJSDev commented on #35
The input type has to match the specified type, as explained in the [input type table](https://github.com/sheetjs/js-xlsx#input-type).

[2017-04-17 10:58] damianobarbati commented on #324
Has this been fixed? A lot of people is using strict mode everywhere to enforce best practices.

[2017-04-18 06:16] negberts commented on #628
I guess someone was ahead of me. Thanks!

[2017-04-18 06:40] SheetJSDev commented on #628
I remember that code from an older version of the module specifically because it was something that we had to add to work around jshint.  We made a push about a month ago to get flow to pass 100%, and it was at that time we worked around the issue: see commit 8cd9e81

We finally moved off jshint/jscs entirely, as eslint actually supports both types of checks in the same tool.

[2017-04-18 07:20] newkillerbeast2017 opened #633 "Read data vertically instead of horizontally"
I am converting a workbook data into json object using the following code:

[code]

Now, the data is read horizontally instead of vertically. For explanation, below is my json object
[code]

Here, `test1` is taken from A1. `testvalue1` is taken from A2. But I would like the value of `testvalue1` to be taken from B1 instead of A2. Is this possible?

[2017-04-18 07:25] #633 closed

[2017-04-18 07:25] newkillerbeast2017 commented on #633
Wrong issue from my end. Found the solution, closing the issue.

[2017-04-19 05:56] hawasthi02 opened #634 "Creating formula or macros in excel"
I have an array of 6 objects in json.
/* original data */
var data = [{ "monoTotalMonthly" : 490,
    "colorTotalMonthly" : 0,
    "lifeTotalMonthly" : 490,
    "colorA3Monthly" : 0,
    "monoA3Monthly" : 0,
    "copyTotalMonthly" : 0,},{ "monoTotalMonthly" : 490,
    "colorTotalMonthly" : 0,
    "lifeTotalMonthly" : 490,
    "colorA3Monthly" : 0,
    "monoA3Monthly" : 0,
    "copyTotalMonthly" :

[2017-04-19 06:24] SheetJSDev commented on #634
You can manually build up the worksheet:

[code]

And if you want to make a full file:

[code]

I just tested with https://runkit.com/sheetjs/58f5c48e958121001283c8fe and the result is

[output634.xlsx](https://github.com/SheetJS/js-xlsx/files/932004/output634.xlsx)

[2017-04-19 07:12] hawasthi02 commented on #634
Its Great!!!!!!!!!
Many Thanks....
willl Come back to you for more Queries...

[2017-04-19 07:57] #634 closed

[2017-04-19 09:43] chanakaDe opened #635 "How to convert XLS to JSON in browser."
I have a simple requirement. Just upload a file to my web application (a XLS file) and convert it to JSON.
<script lang="javascript" src="dist/xlsx.core.min.js"></script>
I imported xlsx to my application like this.
But following command gives me an error.

Can anyone tell me how to make this work ?
Sample code please. I don't have a node.js server. Just need to convert XLS to JSON in front end us

[2017-04-19 14:47] SheetJSDev commented on #635
Some people have had success with the directive https://github.com/brexis/angular-js-xlsx -- try it out and let us know if you have any problems

[2017-04-19 14:47] #635 closed

[2017-04-19 15:37] chanakaDe commented on #635
@SheetJSDev  Thanks for your quick response. But that's not actually what I wanted. And also I'm not using AngularJS too. Here's simply what I need. It's great if you can find me a solution for this.

In your examples, I can see this code.
`var workbook = XLSX.readFile('test.xlsx');`
But you are saying we can use that only with NodeJS. So it's server side. Is there any way we can read a xls file i

[2017-04-19 15:45] famu1hundred opened #636 "Error when parsing CSV file 0.9.11"
This lib is awesome. It works perfectly for xls and xlsx. I upgraded to 0.9.11 and I thought I would be able to read CSV files. However, I am receiving the following error in the console:

The same file works in the In-Browser Demo but not in my code but I don't see a difference

Uncaught Error: Corrupted zip : can't find end of central directory
    at ZipEntries.readEndOfCentral (jzip.js:2264)

[2017-04-19 15:50] SheetJSDev commented on #635
In https://github.com/sheetjs/js-xlsx#parsing-workbooks we gave some samples using AJAX in the browser and using the HTML5 file drag-and-drop.  You can't use `XLSX.readFile` in the browser because the browser exposes no way of just requesting data.  Use `XLSX.read` instead -- it accepts the data directly and supports binary strings (like those from `readAsBinaryString`) as well as base64 text and

[2017-04-19 15:54] r1z1a opened #637 "Double Headers Parsing"
Not sure if this is right place to post this. I have question.
Is there a way to parse a .xlsx file that has a set of 2 headers where the row 1 is header 1 (with merged sells) and row 2 is standard header per column?
As an example:
| Personal info |              Contacts           |                          Interests                             |
| Name | Age   | Email | Phone | Address | Football

[2017-04-19 16:00] SheetJSDev commented on #636
If the file works in the demo but not in your code, there's most likely a problem in your integration code.

1) confirm you are using the right version: `console.log(XLSX.version)` just before the part that reads in the file.

2) just before reading the file, try to console.log the data just before calling `read`, and confirm that it looks like the original file

if the content is the same and you

[2017-04-19 16:14] SheetJSDev commented on #637
The library functions can't do that directly, but if you pass the option `header:1` to `sheet_to_json` you'll get a raw array of arrays that you can work with.  For your example, `var output = XLSX.utils.sheet_to_json(worksheet, {header:1})` would return:

[code]

You can loop through the data rows (in this case, `output.slice(2)`) and convert each row to JS object that you want.

The option is ex

[2017-04-19 16:14] #637 closed

[2017-04-19 17:03] famu1hundred commented on #636
Thanks for the quick reply!

So I confirmed with XLSX.version that the version is still 0.8.7. However, I also confirmed that there are 2 xlsx.js files in separate libs in bower_components. One is located in js-xlsx (0.9.11) and the other is in xlsx-js (0.8.7). I tried removing them both and reinstalling with bower, but they both came back. Is this right?

[2017-04-19 17:11] SheetJSDev commented on #636
Our [bower.json](https://github.com/SheetJS/js-xlsx/blob/master/bower.json#L2) is configured to publish as `js-xlsx`.  The [manifest page](https://libraries.io/bower/js-xlsx) appears to be correct.
 `xlsx-js` points to a separate fork.

It's likely that you either included both names in your bower.json, or a dependency pulls in the other version.  I would check your local bower.json first.

The co

[2017-04-19 17:11] #636 closed

[2017-04-19 17:16] famu1hundred commented on #636
The xlsx-js lib (0.8.7) gets installed due to another lib "tableexport.js" that has a dependency on xlsx-js (^0.8.7) and my bower.json installs js-xlsx 0.9.11, thus making two separate instead of updating the older version.

[2017-04-20 03:22] FlyerJay commented on #35
i have got the same issue ,Corrupted zip : can't find end of central directory
im sure this file can open with ms excel

[2017-04-20 03:45] SheetJSDev commented on #35
@FlyerJay if you can reproduce the issue [in the live demo](http://oss.sheetjs.com/js-xlsx/) then it's a bug in the parsing logic and we would love to see an offending file.  You can email it to us or attach to a reply here.

If you cannot reproduce the issue in the demo, then there's an issue in your integration code and we would need to see a code snippet to advise further.

[2017-04-20 03:55] hawasthi02 commented on #634
Formula is not getting applied in the xlsx sheet but the values are getting added
the commands I used is
   cell = {t:'n' , v: workSheet['A' + (row+1)].v + workSheet['B' + (row+1)].v , f:'A' + (row+1)+'+'+'B'+(row+1)};
   cellRef = xlsx.utils.encode_cell({
                    c: column,
                    r: row
                });
           workSheet[cellRef] = cell;
![image](https://cloud.gith

[2017-04-20 03:58] FlyerJay commented on #35
[error.xlsx](https://github.com/SheetJS/js-xlsx/files/939994/error.xlsx)

[2017-04-20 03:59] SheetJSDev commented on #634
@hawasthi02 are you sure you are writing to cell C2? check what `c` and `r` are.  Add the line `console.log(c,r,cellRef)` and confirm that you see `2,1,"C2"`.

[2017-04-20 04:04] SheetJSDev commented on #35
@FlyerJay http://oss.sheetjs.com/js-xlsx/ reads the file:

<img width="711" alt="screen shot 2017-04-20 at 00 01 02" src="https://cloud.githubusercontent.com/assets/6070939/25213177/c91d6bde-255c-11e7-921b-dd3609ef9f50.png">

This is the full output: https://hastebin.com/zopiresadu.http

My guess is that you are either using an older version or your integration code is not correct.  Can you check

[2017-04-20 04:06] hawasthi02 commented on #634
@SheetJSDev
I printed console.log(allFields[column],column,row,cellRef);
and the output is
 TotalCost 2 1 C2

[2017-04-20 04:10] SheetJSDev commented on #634
@hawasthi02 can you share the output XLSX file?  From the bit of code you sent, it should have written both the value and the formula.

[2017-04-20 04:13] hawasthi02 commented on #634
[test.xlsx](https://github.com/SheetJS/js-xlsx/files/940171/test.xlsx)
Please find the file here.

[2017-04-20 04:17] SheetJSDev commented on #634
Thanks for sharing, can confirm the file is missing formula.  Just before writing the file, can you put `console.log(XLSX.version)` and check what version is in use?  IT should say 0.9.11 if you are on the latest version

[2017-04-20 04:31] hawasthi02 commented on #634
Really Thanks,I was stucked here since yesterday.
It was a version issue I was on 0.8.8
![image](https://cloud.githubusercontent.com/assets/20221255/25213745/3e38cb68-25b0-11e7-8ffd-3485c7c70dc4.png)

[2017-04-20 09:36] seunggabi commented on #595
@SheetJSDev

Thank you!
I solved it.
cell.s = {wrapText: true}

it is cool!

[2017-04-20 09:36] #595 closed

[2017-04-20 09:45] seunggabi opened #638 "[Help me] XLSX + WebWorker not working"
Hello @SheetJSDev !
I am a user of JS-XLSX

There was a problem when working with web worker..
error:
[code]

Bug code
[code]
I want to copy XLSX object!!!
What should I do?

[2017-04-20 15:48] SheetJSDev commented on #638
You are copying the whole module, did you mean to send back a workbook?

The included worker script parses the workbook and calls `JSON.stringify` on the result, so it sends a string back:

https://github.com/SheetJS/js-xlsx/blob/master/xlsxworker.js#L11-L13

This is ultimately parsed back into a workbook object in the main thread:

https://github.com/SheetJS/js-xlsx/blob/master/index.html#L114

I

[2017-04-20 15:48] #638 closed

[2017-04-21 03:28] seunggabi commented on #638
@SheetJSDev
Thank you! :)

[2017-04-21 03:29] FlyerJay commented on #35
thank you！！i know where the problem is

[2017-04-21 06:06] hawasthi02 opened #639 "Background color not displayed"
I am unable to see background in xlsm file.

I have imported these libraries
xlsx = require('xlsx'),
fileSaver = require('file-saver');

I am using the following code

for setting the background
cell = {t:'n' , v: workSheet['A' + (row+1)].v + workSheet['B' + (row+1)].v , f:'A' + (row+1)+'+'+'B'+(row+1) ,s: {bgColor: { indexed: 64 }}};

and this for writing into file
wbout = xlsx.write(wb, {bookTyp

[2017-04-21 09:10] sebius8780 commented on #609
The only question that remains : when ?? I'd love to do my part in this if you need !

[2017-04-21 13:59] SCullman opened #640 "Exporting Date-Times in Iso Format"
I want to export date/time values to JSON formatted as ISO 8601 values

My current script:

[code]
The cells itself already contain the correct datetime inside the v(alue) attribute.

I suggest an option like
XLSX.utils.sheet_to_json(sheet, {header: 1, ExportDatesAsISO:true});

Test data:
[datum.xlsx](https://github.com/SheetJS/js-xlsx/files/947214/datum.xlsx)

[2017-04-21 15:37] dskrvk opened #641 "What is a wrong input file format?"
I'm writing a test to verify that when my code reads a bad input file using `xlsx.readFile`, a proper error is returned. However, I'm having trouble finding a file that would cause `xlsx` not to return a parsed worksheet. Any text-based format seems to work, including YAML, JSON, .gitignore, even JS source files. Only a binary file would currently cause it to choke.

Is this a desired behavior? Se

[2017-04-21 15:48] SheetJSDev commented on #641
@dskrvk try this: take the .gitignore file from this repo, rename to gitignore.csv and try opening in Excel.  This is what I see:

<img width="92" alt="screen shot 2017-04-21 at 11 42 04" src="https://cloud.githubusercontent.com/assets/6070939/25285274/aa465410-2687-11e7-94b4-b102586901c1.png">

Excel itself is extremely aggressive is reading files that may or may not be utter nonsense.  You can d

[2017-04-21 16:25] dskrvk commented on #641
If that's how Excel behaves, it makes sense. Thanks for the suggestions!

[2017-04-21 17:32] SCullman commented on #640
This script would work for me but feels just wrong:

[code]

[2017-04-21 17:50] SheetJSDev commented on #640
Would it make more sense to add an option that suppresses the formatted text for all cells? something like `cellText` which would not generate the `.w` text if it is set to `false`?

[2017-04-21 18:05] SCullman commented on #640
This would help; the parsing through the cells could be avoided.
But even then it is not possible to return the date in ISO format, as YYYY-MM-DD**T**hh:mm:ss is not accepted as _dateNF_.

[2017-04-21 22:04] #640 closed

[2017-04-21 22:25] SheetJSDev commented on #640
@SCullman so the first part was pushed (`cellText:false` will not generate the format).

For your specific format, the correct code is `YYYY-MM-DD"T"hh:mm:ss`.  The double-quotes are necessary to indicate that T is a literal T and not a format element.  If you try to enter `YYYY-MM-DDThh:mm:ss` and save the file, the actual format is encoded in the xml as

[code]

[2017-04-22 06:46] SCullman commented on #640
Thank you, works perfect!

[2017-04-24 03:40] hawasthi02 commented on #639
@SheetJSDev  Please help me with solution...

[2017-04-24 08:00] SheetJSDev commented on #641
@dskrvk I thought about this a little more and decided that this answer wasn't satisfactory.  Should we add an option that generates an error if the file appears to be a one-column text file?  It would obviously generate false positives (like a single-column CSV) but it would also avoid the uncertainty raised in this issue

I'm open to a new option to address the issue, and there are two obvious c

[2017-04-24 09:49] oreillyj1 opened #642 "export xls with a image"
Hi does this library allow me to export a xls with a image somewhere on the sheet? if there are any jsfiddles on the web showing this it would also be great..
thanks

[2017-04-24 10:40] #589 closed

[2017-04-24 10:47] reviewher commented on #589
@simon-p-r updated the make.cmd script to streamline the process.  Tested on an old Surface Pro 3 running windows 8.1 and everything seemed to work!  Since we aren't using any powershell features it should work back to Windows 7.

Preparation:
- Install node (6.10.2 in this test but other versions work too)
- Install git windows (2.12.2.2 in this test), use default options (`core.autocrlf = true`)

[2017-04-24 13:49] oreillyj1 commented on #642
hi Ive a query - does js-xlsx allow images to be exported to a xls file?

[2017-04-24 15:37] SheetJSDev commented on #642
Not currently.  A partial implementation for XLSX image export was submitted as a [pull request](https://github.com/SheetJS/js-xlsx/pull/509/) but there are more details to work out.

[2017-04-24 16:11] oreillyj1 commented on #642
ok thanks, would there be a jsfiddle somewhere of the pull request do you know?

[2017-04-25 22:50] dskrvk commented on #641
Option 1 is not directly applicable to my case, but I suppose it would be nice to be able to provide the expected format (e.g. as one of the constants defined in `xlsx`) and get an error if the parser finds a different format (optionally of course).

Option 2 is trickier. Technically, any text file (source code, novel text, application log) can be interpreted as a single-column "spreadsheet". The

[2017-04-26 06:33] SheetJSDev commented on #641
Depends on how you define "real".  If you take Excel as the authority on what constitutes a real spreadsheet, these files are indeed spreadsheets, but they are definitely surprising!

If you want to verify, in node if you install the module globally (`npm install -g xlsx`) you can call the `xlsx` program from your shell:

[code]

This generates a file: [`gitignore.xlsx`](https://github.com/SheetJS

[2017-04-27 11:30] mattbalza commented on #580
Hi,
This code works super well :)
Could you please help us understand what you changed exactly? I see that a lot of the original js-xlsx code has been changed.

Thanks!

[2017-04-27 16:05] appersonj commented on #324
I started seeing this problem when I set the node v8 flag '--use_strict'
`const v8 = require("v8");
v8.setFlagsFromString("--use_strict");
`
I was, however able to run with :
`#!/usr/bin/env node
"use strict"; // as first line in script
`
xlsx:0.9.12
node:7.5.0
osx:10.10.5

[2017-04-27 16:42] reviewher commented on #324
@appersonj are you sure that strict mode is actually enforced if you put it in the shebang line?

[2017-04-27 20:33] FrankBirik commented on #365
Hi, I am confused in the documentation on npmjs, their workbook has sheets has an array and not as an object

From the documentation below
var first_sheet_name = workbook.SheetNames[0];
var address_of_cell = 'A1';

/* Get worksheet */
var worksheet = workbook.Sheets[first_sheet_name];

[2017-04-27 20:49] emottk opened #644 "kubrircfnbiiblervvbehedkcugktikrg"

[2017-04-27 21:21] #644 closed

[2017-04-27 21:45] SheetJSDev commented on #365
@FrankBirik the syntax `x[y]` allows dynamic key access for objects and arrays.  This is valid JS:

[code]